[2012-03-28 12:18] leosprikryl opened #2 "getX() and getY() of com.google.gwt.maps.client.base.Point should return double"
The x and y coordinates of Point can be doubles. For example
    fromLatLngToPoint(LatLng latlng, Point point);
returns Point with x and y set to double values.

[2012-03-28 12:34] leosprikryl commented on #2
Same as https://github.com/branflake2267/GWT-Maps-V3-Api/issues/3.
Sorry for the duplicate issue. I am new to GitHub.

[2012-03-28 12:34] #2 closed, assigned to branflake2267

[2012-04-03 04:13] twistedpair opened #4 "662 @return JavaDoc statements with no arguments"
At first I was going to just strike all of these with some Eclipse regex, since in most examples of accessors, GWT devs don't bother to restate the obvious. Clearly getValue() returns value.

However, given that exceptional return information is usually noted in this annotation, I've left them for now. The rest of the docs should be pretty clean by now.

Someone needs to plow through these occurre

[2012-04-03 04:15] twistedpair opened #5 "BigDecimal Use Necessary?"
Brandon, can we strike the BigDecimal values in LatLng? Curious why they are there since they're 44 bytes in Java, and will just be converted to doubles in JS. Any reason they should stick around? Perhaps some JDO/JPA issue?

[2012-04-03 07:37] branflake2267 commented on #5
I was using them as a connivence to storing the data. You probably could remove them in this lib as I could add them on my side. I like to store and calculate them with big decimal. I think it had to do with storing them double unsigned as my coordinates would change after persist change. I've contemplated this is a few times already :)

[2012-04-03 07:44] branflake2267 commented on #4
I think you could strike the empties with no problem much easier than walking them. It was something that I didn't worry about and was created by eclipse when I made the comments.

Another return note that comes to mind. Some returns have more than one value and I changed the getters getValue_Type1() and getValue_Type2() or something like that. Javascript bindings are weird for the dynamic js vars

[2012-04-03 13:25] bambata opened #6 "no GWT application conf file in SNAPSHOT build"
Hi,

this is minor stuff but I noticed that the project snapshot maven build does not have the Apis_Google_Maps.gwt.xml file in the target artifact and prevent the easy integration of the module in a gwt module.
I suggest you explicitly configure your pom to copy them at the right place in the target classes folder.

cheers,

J.

[2012-04-03 14:01] twistedpair commented on #5
That's what I figured. Many ORM's return BigDecimal for your to them convert to you desired type. My concern is the emulation overhead in JS and the size increase for cases where users work with large numbers of points (i.e. what I plan to do in my own app).

How about allowing a BigDecimal constructor, but otherwise using doubles internally? I'll work on that tonight.

[2012-04-03 14:08] twistedpair commented on #4
OK, I agree. The work vs value created ratio here would be not be favorable. I'll strike them tonight with a pinch of regex. Then I'll extirpate the remaining Javadoc compiler errors.

Where do we plan to put that Javadocs online in the future? I'll update the TC script to auto-publish them there if possible.

[2012-04-03 14:19] twistedpair commented on #6
Bambata,

Thanks for raising this issue. I had explicitly configured the build process to include this file. I'm not sure why it's not in the Jar. I'll update it tonight so that it's in there.

[2012-04-03 14:39] branflake2267 commented on #5
I agree with you. I'd suggest removing it for consistency with the rest of the api. In other words I'm good with removing it.

[2012-04-03 14:41] branflake2267 commented on #4
I was thinking somewhere around this repo on GitHub. GitHub has some sort of pages https://github.com/branflake2267/GWT-Maps-V3-Api/branches

[2012-04-03 17:17] bambata commented on #6
Hi twisted,

another maven related suggestion would be to have a maven-source-plugin section in the pom to enable source attachment.I usually do this to enable including the source artifact as a dependency (to enable GWT compilation of the third party)

cheers,

J.

[2012-04-04 03:08] twistedpair commented on #4
Fixed orphaned @return statements.

[2012-04-04 03:08] #4 closed, assigned to twistedpair

[2012-04-04 03:32] twistedpair commented on #6
Thanks for the pointer. The maven-source-plugin was already setup in the project and the JavaDocs and Source are being bundled and attached. However, as you point out, the a <resource> tag is needed to add them to the Jar for GWT along with the *.gwt.xml files.

I did this and now my local copy is comping and working. Let me know if the trunk works for you. Thx.

FYI: The maven-gwt-plugin has a su

[2012-04-04 04:01] twistedpair commented on #5
Converted to doubles. Should run faster in JS.

Also worth noting: in Lat/Lng anything over 5 decimal places is negligible (i.e. inches), so double should be more than enough.

[2012-04-04 04:01] #5 closed, assigned to twistedpair

[2012-04-04 15:47] branflake2267 commented on #4
nice work

[2012-04-04 15:48] branflake2267 commented on #5
Good job

[2012-04-07 21:11] twistedpair commented on #6
bambata has not responded. This worked in my testing. Closing.

If anyone else has an issue, let us know.

[2012-04-10 06:03] bambata commented on #6
Hi,

it worked for me too. Thanks
J.

On Sat, Apr 7, 2012 at 11:11 PM, Joseph Lust <
reply@reply.github.com

##

Julien Abega
julien.abega@gmail.com
+33659473789

[2012-04-11 05:25] branflake2267 opened #8 "maps testing module could use 1.6.4 app engine sdk dependency"
Setup app-engine 1.6.4 sdk as a dependency in pom.xml when it comes out

[2012-04-11 05:27] branflake2267 opened #9 "Wiki directions for using the api in a GWT project"
I'd like to write up simple instructions on how to use this api in a GWT project.

[2012-04-11 05:35] branflake2267 opened #10 "Separate the Test project into its own?"
I wonder if we should make the test project its own repo and move the api source then up one folder to make the setup easier. Would this screw up the maven paths?

[2012-04-11 18:04] branflake2267 opened #11 "Figure out how to keep the __gwt_Object"
The __gwt_object is used in chrome so it doesnt register duplicate objects. I'd like to figure out why it is throwing and then try to keep it's use. I think the map api uses some sort of call back and doesn't dig it.

[2012-04-29 04:26] twistedpair commented on #9
Just add basic build instructions to https://github.com/branflake2267/GWT-Maps-V3-Api/wiki

I pushed the most recent jars from my personal Team City account out there. I've opened a Jira account with Sonatype to use their OSS maven repo so that we can get the project artifacts into the Central Repository.

I've opened a ticket par their instructions so that we can then remove the need to upload/do

[2012-04-29 04:26] twistedpair commented on #6
Should have been closed a few weeks back,

[2012-04-29 04:26] #6 closed, assigned to twistedpair

[2012-04-29 04:27] twistedpair commented on #9
Unless anyone finds otherwise, the supplied instructions should be sufficient. Closing.

[2012-04-29 04:27] #9 closed, assigned to twistedpair

[2012-04-29 04:28] twistedpair opened #12 "Place API jars in Maven Central Repo"
Maven is not useful unless you've pushed your jars out publicly. We need to get ours out there.

Rename group id com.github.branflake2267
https://issues.sonatype.org/browse/OSSRH-4661 - notes on sona repo

[code]

[2012-04-29 04:29] twistedpair commented on #12
I've opened a ticket to get an account for the project on the Sonatype OSS maven repo. That will get it into central. It should go through some time early this week.

[2012-04-29 05:00] branflake2267 commented on #12
Nice work. :)

[2012-05-30 19:59] bhamid opened #13 "issue with several maps in tabs"
Hi,
I started to use your library and have some problems with MapWidget. When I tried to display several maps in tabItems, the first map is displayed well but the second is not displayed correctly.

I had attached 2 screen shots to explain more my issue.

I'll be so grateful if you can help me to solve this blocking problem.

[2012-05-30 20:00] bhamid opened #14 "No ployline displayed"
problem with PolyLine
Hello;
I want to display a polyline on my map google by giving a list of points (JsArray points).
the polyline is not displayed, here is my code:

LatLng[] a = new LatLng[3];
a[0] = LatLng.newInstance(2.956377, 36.77403);
a[1] = LatLng.newInstance(2.95372, 37);
a[2] = LatLng.newInstance(2.97, 36.78403);
JsArray<LatLng> listLatLng = ArrayHelper.toJsArray(a);
options.setMap(map

[2012-05-30 20:18] branflake2267 commented on #13
Are you debugging in chrome? And if so, try firefox? Most likely its the _gwt_object issue. I'll investigate more this weekend.

[2012-06-02 17:16] twistedpair opened #15 "HouseCleaning: MapEvent type declarations"
Noticed that we have a number of Eclipse warnings about the MapEvent type. We need to properly parameterize these. However, I noticed in looking at this that in the below code, we can see that addHandlerImpl() takes a MapHander that extends MapEvent, but MapEvent extends MapHandler. Seems a bit cyclical. We should clean this up.
# MapEvent

[code]
# MapHandlerRegistration

[code]

[2012-06-02 19:07] branflake2267 commented on #15
Sounds good. :)

[2012-06-02 19:45] twistedpair commented on #14
Your code worked fine for me. Perhaps you were not zoomed into the proper region to see the Polyline on the map?

You still raise a good point. I added a Polyline example to the project that shows how to draw three different Polylines on the map, and gives an example function to set the map to the center of a given Polyline. Check out the most recent revision from GitHub. The example is not yet up

[2012-06-02 19:49] twistedpair commented on #13
Brandon,

Do you think the maps in the demo page could be placed into tabs as an example of the behavior? It would help clean up the demos page which has gotten quite large. :)

[2012-06-02 19:52] twistedpair commented on #11
Is it the Map JS API or the Web Services? The only time it has given me issues is with remote requests. I bet Google rejects requests with invalid parameters.

How about we check before building requests for !GWT.isScript() and in that conditional strike the _gwt_X offender from the request, but leave it on the original object?

[2012-06-02 19:58] branflake2267 commented on #13
Yes, that was my aim to make it cool later :) Good point :)

[2012-06-02 20:02] branflake2267 commented on #11
I'm thinking this has to do with getting stuck in the callback maps web services I think. I'm having a hard time recalling. I've been told this should only happen in chrome debugging and this object is stuck in to work around the sandbox, but I'm a little unclear exactly. I think you have the right idea leave it if we can and remove it only from the offending calls.

[2012-06-02 20:03] branflake2267 commented on #11
Its used so the objects don't re-register them selfs or something like that

[2012-06-05 00:03] twistedpair commented on #13
Any progress on this over the weekend Brandon? Also, when you get a chance, if you could push out the demo to your appspot account with the new Polyline example.

[2012-06-05 00:11] branflake2267 commented on #13
Sorry, but I've run out of time to get to this. I've also added you to the permissions of the appspot examples if you want to deploy there. I probably should change the appspot location name at some point so it makes more sense.

[2012-06-05 01:56] twistedpair commented on #10
Just need to make a parent project for the whole thing. That is how most Maven projects do it (parent POM). For example, the Emma Ecl Eclipse code coverage plugin: https://eclemma.svn.sourceforge.net/svnroot/eclemma/eclemma/trunk/ .

I've gotten it working tonight, but it has vex the git/Eclipse integration. Need to figure that our before merging it.

[2012-06-05 03:45] twistedpair commented on #10
OK, you should be able to build as single project now, with two sub projects. Just need to give them better names now.

Updated instructions in [Eclipse Contributor Setup](https://github.com/branflake2267/GWT-Maps-V3-Api/wiki/Eclipse-Contributor-Setup). Let me know if they work for you.

[2012-06-05 18:52] branflake2267 commented on #10
I seem to figure out how to setup the project by using import in egit and its pretty easy as it stands now. So I'm not sure its needed? Thoughts?

[2012-06-05 23:08] twistedpair commented on #10
Which part is not needed, or do you mean the whole section? I'm happy with anything you want to do to it. Hopefully if you're contributing, you know how to do a Git checkout and import an Eclipse project.

[2012-06-05 23:15] branflake2267 commented on #10
My bad, I think I misunderstood. What you have is great. I was thinking of the physical code separation thought I had in the very beginning. Your docs are great. I was thinking when I imported the git repo into egit, then I right click and import projects, then I reinit the project to get the libs into the war for my testing worked great.

[2012-06-06 21:00] bhamid opened #16 "clear all overlays"
Hi
I Thank You for your answers, I have another problem:
is there a method to clear the map and delete all overlays ?

[2012-06-06 23:45] twistedpair commented on #16
bhamid,

There is no method like that. The methods on the [Maps Javascript API](https://developers.google.com/maps/documentation/javascript/reference#Map) have no such method. The issue here is that you add overlay items to a map using the setMap() method of the overlay, rather than something like map.addOverlay(overlay). So, even it we added a list of non-removed overlays inside the MapWidget cla

[2012-06-06 23:45] #16 closed, assigned to twistedpair

[2012-06-07 01:21] twistedpair commented on #10
Checked in. I plan to change up the names a little bit, to
- gwt-maps-api-v3-core
- gwt-maps-api-v3-demo

So that the parent can be `gwt-maps-api-v3` . I just did this on my local copy, but it seems to have annoyed Eclipse. Will get it right, then check it in and close this issue out.

[2012-06-07 01:24] twistedpair opened #17 "Add updates from Maps V3.9 API Release"
There were very few changes, but we should confirm that they are all in there and updated our version numbers/docs.

See the official API [change log](http://code.google.com/p/gmaps-api-issues/wiki/JavascriptMapsAPIv3Changelog).

[2012-06-07 01:31] twistedpair commented on #17
Reading through the change log, we need to confirm the following have been added too as these were since the initial code creation in December 2011 (strike through indicated feature completion or rejection):
- ~~orderBy, limit and offset for FusionTablesLayer~~
- ~~[DemographicsLayer](https://developers.google.com/maps/documentation/business/demographics)~~ (out of scope, commerical API only)
- ~~

[2012-06-19 18:39] gardellajuanpablo opened #18 "Add Campaign API"
[code]

[2012-06-20 01:50] twistedpair commented on #18
Have you forked the project? We prefer to take contributions as pull requests if possible since it is not obvious from you above comment what exact class and location your supplied code segment applies to. Thanks. :)

[2012-06-20 14:20] waliddah opened #19 "Map dosn't show correctly at the second time. Shows gray areas."
Hi
As the folowing issues :

http://code.google.com/p/gwt-google-apis/issues/detail?id=127
http://code.google.com/p/gwt-google-apis/issues/detail?id=366

we have almost the same problem with GWT-Maps-V3-Api. It's about an vertical Panel that doesn't show correctly the second time it's attached in the DOM !

I explain:
- we have an verticalPanel in wich the map is disyplayed. There is no problem in

[2012-06-20 14:30] branflake2267 commented on #19
Is this in debugging? And if so which browser?

[2012-06-20 14:33] waliddah commented on #19
Yeah, in the debuggin and in the normal run, in hosted mode and even in the server mode (deployed on tomcatServer | WebSphereServer), and in all browser (at least IE8 and fireFox 10.0.2)

[2012-06-20 14:35] branflake2267 commented on #19
Can you check your error console and see if _gwt_ObjectId error or something like that is showing up?

[2012-06-20 14:39] waliddah commented on #19
In the browser console? No, there is non error !

And yeah, i forget to tell you that resizing the browser window resolve the problem !!!

[2012-06-20 14:43] branflake2267 commented on #19
Could I see how your adding them to your composite so I could reproduce it when I get a chance.

[2012-06-20 14:55] waliddah commented on #19
Of course !

public abstract class GWTMapV3 extends Composite {

[code]

}

AND

public class GWTMapWidgetV3 extends GWTMapV3 {

[code]

}

public class GeolocalisationMap extends Composite {

[code]

}

mmmmm, i can't reproduce it with simple class in an onModuleLoad method. I will try to make a simple test class in wich the problem is clearly viewed ! i will make it in this evening after work :)

[2012-06-21 07:22] waliddah commented on #19
hi,
i tried to reproduce it with simple classes but i can't, its work juste fine in thoses cases. If i found how to reproduice it i will share with you the example, i use a tabPanel with lazy loading, perhapse the problem is in the way that we use to call the map in it !

Any way, if somone else has the same problem, here it is the solution;

Thanks

[2012-06-22 22:54] MarioMartin opened #20 "Implement Markerclusterer in GWT Google Maps V3 ,through JSNI"
could help me please:
I have a GWT project with GWT GoogleMapsAPI v3 and would like to implement Markerclusterer through a JSNI method.

My question is how to manipulate the MapWidget within JSNI method

 this is my code but does not work.

package cl.prueba.JS.client;

[code]

my html is :
HTML ....

[code]

Thank you very much!!
I hope they understand my problem, if they have questions, please l

[2012-07-26 13:26] vitulicny opened #21 "autocomplete"
Hello, i try to use your great lib, but i am getting this error so i thought you might help me. when i try to use your autocomplete in the fresh new project it works fine. when i try to integrate in my existing dialog box i get this error:

---

15:19:04.689 [ERROR] [customer] Uncaught exception escaped
com.google.gwt.core.client.JavaScriptException: (TypeError): Cannot read property 'Autocomplete

[2012-07-26 14:20] branflake2267 commented on #21
Could be I have a spelling error in the binding to javascript. I'll have to take a look and see after work.

[2012-07-27 07:40] vitulicny commented on #21
ok thx :)

[2012-07-27 12:36] WIP42 opened #22 "Map rendering areas have grey areas"
The map area is never fully rendered; only 1 to 1 1/2 tiles are shows while scrolling.

I had exactly the same effect while testing your AutocompletePlacesMapWidget.java code.

This is in hosted mode on Eclipse; GWT 2.4.0

[2012-07-27 12:37] WIP42 opened #23 "Map is rendered with Japanese comments - in all countries"
I had exactly the same effect while testing your AutocompletePlacesMapWidget.java code.

This is in hosted mode on Eclipse; GWT 2.4.0

[2012-07-27 13:49] WIP42 commented on #23
Stupid me for not checking the init parameters in the AjaxLoaderOptions

"options.setOtherParms("sensor=false&language=en");"
instead of
"options.setOtherParms("sensor=false&language=ja");"

[2012-07-27 13:49] #23 closed, assigned to twistedpair

[2012-07-28 13:11] #22 closed, assigned to twistedpair

[2012-07-28 13:11] WIP42 commented on #22
Solved it by explicitly doing a .show and .hide to get DialogBox containter to set drawing boundaries

[2012-07-30 07:58] vitulicny commented on #21
any updates, please?

[2012-08-16 20:43] rahultongia opened #24 "Event Handling in InfoWindow"
I create a button in InfoWindow, upon clicking which an event should occur. Here is my code:

[code]

Any ideas what can I do with the library? Or should I build my own wrapper like suggested in this http://stackoverflow.com/questions/11528637/google-maps-api-v3-buttons-and-textboxes-inside-infowindow

Thank you for the help. Btw, thanks for the very cool library.

[2012-08-20 23:05] martinlong1978 opened #25 ""public" resource are not being placed in the jar"
I get a lot of 404 not found in my server logs for /css/style.css.  This appears to be because the resources are declared in the module XML, but don't get included in the jar. Is this intentional?

[2012-08-21 04:19] twistedpair commented on #25
It was a bug I had meant to chase down. I've corrected this and checked it in. Thanks for the notice.

[2012-08-21 04:19] #25 closed, assigned to twistedpair

[2012-08-21 08:00] martinlong1978 commented on #25
Great. Thanks for the quick attention. Nice work on the API.

[2012-08-21 10:14] #18 closed, assigned to twistedpair

[2012-08-21 10:40] twistedpair commented on #14
Updated the online showcase with three examples of polylines, including a large polyline data example.

[See Showcase](gonevertical-apis.appspot.com)

[2012-08-21 10:40] #14 closed, assigned to twistedpair

[2012-08-22 09:38] martinlong1978 opened #27 "No tags in GitHub"
Hi,

I assume you have tags in your local repo for "v3-3.8.0-beta1", for example. Could you push these to Github? It would make it easier to see if we have a particular fix in our version, and see what has changed etc.

Thanks

Martin

[2012-08-22 15:25] twistedpair commented on #27
Yes, as you can see I'm a busy bee this week. I'll:
- [done] Put up the Javadocs in the gh-pages
- [done] Rebuild the jars and put them up hosted on gh-pages
- [in progress] Work on getting things moved to gh or mvn central
- [done] Update the Demo with a number of new GMaps 3.9 features
- [done] Use more branches for 3.9 dev (currently in trunk, not best practice)
- [done] Pushing tags to gh for

[2012-08-22 15:27] martinlong1978 commented on #27
Brilliant. Thanks for the update. It really is a great API.

[2012-08-24 18:40] benstpierre opened #28 "mapOptions.scrollwheel has wrong casing"
Take a look here

https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/Apis_Google_Maps/src/com/google/gwt/maps/client/MapOptions.java#L560

it should read

[code]

instead of the current

[code]

As per the documenation at google...

https://developers.google.com/maps/documentation/javascript/reference#MapOptions

[2012-08-25 00:06] twistedpair commented on #27
Pushed the tags over. Frankly I suggest the beta2 branch as it builds delightfully with Maven. The only reason it is 'beta' is that I've not gotten 100% of the API ported. There are some small bits (that you've probably never heard of) that are not quite there yet. I've got to go through the 3.8 API page and check everyone off an ensure it's done. Then I'll drop the beta.

That being said, I'm now

[2012-08-25 00:06] #27 closed, assigned to twistedpair

[2012-08-25 01:08] twistedpair opened #29 "JavaDocs Online"
This is kind of a note to self to get something done. Like any good Java project, you need JavaDoc's!

[2012-08-25 01:09] twistedpair commented on #29
So, we've had these for a while, just needed to be burnished and put into GitHub. You can now find them on the [Docs](http://branflake2267.github.com/GWT-Maps-V3-Api/javadoc/3.8.0/) page. For an exhaustive list, that will stay current in the future, see the [Wiki Docs Page](https://github.com/branflake2267/GWT-Maps-V3-Api/wiki/Docs).

[2012-08-25 01:09] #29 closed, assigned to twistedpair

[2012-08-25 02:32] branflake2267 commented on #29
Nice job on everything!

[2012-08-25 02:34] twistedpair commented on #28
Good find. It looks like every property in the Google Maps API is camelCase, except "scrollwheel." Sorry that one slipped through. It is now corrected in the HEAD, the Showcase, and the downloadable binaries.

Let me know if you have any other issues.

[2012-08-25 02:34] #28 closed, assigned to twistedpair

[2012-08-25 03:22] twistedpair commented on #21
Vit, I just tried your code sample in the current showcase code and it worked just fine. Are you using the most recent version of the API? Please let me know if you're still experiencing this issue. Thanks.

BTW, from your error, it appears that you don't have any maps API loaded. Can you confirm you're inherited the proper API modules?

[2012-08-25 03:22] #21 closed, assigned to twistedpair

[2012-08-26 16:04] twistedpair commented on #10
The showcase project is already in its own Maven project, but I'll apply these naming conventions in the v3.9 branch.

[2012-08-26 16:04] #10 closed, assigned to twistedpair

[2012-08-26 16:06] #19 closed, assigned to twistedpair

[2012-08-26 16:07] twistedpair commented on #17
HeatMapsLayer, TransitLayer, WeatherLayer now in the v3.9 branch.

[2012-08-26 16:50] branflake2267 commented on #17
Looks great!

[2012-09-01 22:56] branflake2267 commented on #24
I might be wrong, but I think your right, the infowindow seems to be limited to what we can do. I seem to remember having the same issue.

[2012-09-01 22:57] branflake2267 commented on #12
Where you able to get it into the repo? I've added some code which we could host it via github if your interested?

[2012-09-01 23:27] branflake2267 commented on #13
This most likely a gwt_Object issue in chrome debugging. What browser where you debuggin in?

[2012-09-01 23:28] branflake2267 commented on #15
Have you done anything with this?

[2012-09-01 23:33] branflake2267 commented on #15
Hmmm, I'm looking at the handlers, and I remember trying to paramertize the MapEvent before but seemed a static type was slowing me down. I haven't found it all yet. While I'm looking I see line width of 80, do you mind if I reset the stuff to 120?

[2012-09-02 00:00] branflake2267 commented on #15
Wow, flash backs trying to extract this. Ugh b/c the TYPE is static it causes some inheritance, then GwtEvent MapEvent wants both the event type and handler creates some fun. :)

[2012-09-02 00:11] branflake2267 commented on #15
How far down the rabbit hole would you like to go on this? I think b/c of the way GwtEvent I was a little constrained and  I also generified it a bit. Since this works, I'm not sure its worth it. Thoughts?

Although adding a wild card gets rid of the eclipse warning.

[code]

[2012-09-02 00:36] branflake2267 commented on #17
Do you have plans to merge this branch into master?

[2012-09-02 10:36] rahultongia commented on #24
Hi @branflake2267 . Thanks for the reply. Yeah, i tried extending it but it is limited as most methods are final in the InfoWindow. For now, I simply use parameter passing on infowindow button press, much like a hyperlink. Its ugly, but thats the only one in my limited time.

Any other idea would be cool. Thanks.

/Rahul

[2012-09-02 14:51] branflake2267 commented on #24
Hmmm. I remember asking my self that same question. I was looking at the code and I might be able to add mappanel to observe the events.

[2012-09-02 15:25] branflake2267 commented on #24
Yep that works, now to make sure whats added gets removed. I'll pull a branch in a few.

[2012-09-02 15:48] rahultongia commented on #24
That would be cool. Thanks a lot :)

[2012-09-02 16:23] branflake2267 commented on #24
I've got a fix, I'm getting ready for pull :).

[2012-09-02 16:30] rahultongia commented on #24
Great. Looking forward.

Btw.. I use GWTBootstrap and with Maps lib it has an issue with

[code]

If I don't set this in my base css, the map wasn't rendering. However, with this it renders perfectly in chrome and safari. I still haven't figured out a way to make it work with Firefox yet. If you have something from top of your mind, would be cool, else I will fix it as I get time. My hunch is for

[2012-09-02 18:52] branflake2267 commented on #24
Can you create new issue for that. Thanks.

I have merged the pull with master. Not sure if CI will build it yet.

[2012-09-02 18:53] branflake2267 commented on #24
Closing issue, waiting for CI to build and deploy.

[2012-09-02 18:53] #24 closed, assigned to branflake2267

[2012-09-05 07:57] bhamid commented on #13
I try Chrome and Firefox browser , can you add an example to resolve this problem

[2012-09-05 12:31] branflake2267 commented on #13
Just to confirm. Do you have more than one map widget per tab or map widget per tabs? Or could I see some of the code to help guide so I can replicate it as close as possible :) Thanks.

[2012-09-08 01:04] duongthaiha opened #36 "Direction with mid point"
Hi
I tried to get the direction with one mid point but the call back is not occur. Here is my section of code. Did i do something wrong?

[code]

[2012-09-08 01:09] branflake2267 commented on #36
hmmm. I'll aim to check that out tomorrow. Could you check to see if any calls went out through the network inspection in chrome?

[2012-09-08 01:33] duongthaiha commented on #36
Just have a quick check and the result there is no  DirectionsService.Route call has been made in network inspection. Hope this help

[2012-09-08 01:52] branflake2267 commented on #36
I'm testing

[2012-09-08 02:07] duongthaiha commented on #36
Just look into that  a bit as well

It seem to stuck at  in BrowserChannelServer
reactToMessages function
MessageType messageType = Message.readMessageType(
            getStreamFromOtherSide());

I am not sure how it that was link to the api . But hope this can help

[2012-09-08 02:32] branflake2267 commented on #36
I've got a configuration working. More parameters are needed.

[2012-09-08 02:33] branflake2267 commented on #36
Going to push up example in a minute

[2012-09-08 02:34] branflake2267 commented on #36
I've got this working...

[code]

[2012-09-08 03:56] branflake2267 commented on #36
I have it working. I pushed new example code and modified a small bug for _gwt_object that came up.

[2012-09-08 04:12] branflake2267 commented on #36
Demo up with the fix.

https://plus.google.com/111739836936169749229/posts/W69xKGXTCzt

[2012-09-08 04:12] #36 closed, assigned to branflake2267

[2012-09-08 19:57] duongthaiha commented on #36
Just update from the master branch. Work like magic! Thank you very much.

Do you mind to tell me what has went wrong if possible? Just try to understand the api a bit more

[2012-09-08 20:49] branflake2267 commented on #36
Good question :) I think the stepOver or other parameter needed to be set. I didn't stop to confirm which other parameter it was. But I also noticed a _gwt_Object during debugging which only happens in dev mode come up and it could have been that too.

[2012-09-08 21:40] duongthaiha commented on #36
Yeah i put the add wa ypoint sample code you uploaded with the old jar file and it did not work :( So what i have done is to get the source code from the master and reference to the source and it works. Yayyy
 I had a look into what have been changed in your direction branch but could figure what is the different.

[2012-09-08 21:52] branflake2267 commented on #36
Good job. Oops, yeah, I have to get the jar distribution setup, thats on the todo list. Next weekend I should have that done.

[2012-09-14 04:39] twistedpair opened #38 "Issue detaching Panoramio layer from map"
Originally posted on G+ by Dennis Wegewijs:

I am trying to add the panoramia layer. Adding is not a problem but removing it is using this.setMap(null). I looked at the source code of the PanoramiaLayer class and updated the following two methods to no avail. Please investigate.

[2012-09-14 04:41] twistedpair commented on #38
The incorrect mechanism was used in the PanaramioLayer JSNI call. It has been corrected to this.setMap(map) in the commit eccd442740ce657a055ffa1dde92d2f7c8d7bd4a. I've not yet rebuilt and uploaded the jars, rebuild source if you need it. :)

[2012-09-14 04:41] #38 closed, assigned to twistedpair

[2012-09-14 13:47] branflake2267 commented on #38
Nice job. :)

[2012-09-14 13:47] branflake2267 commented on #38
Dennis uses the source, so he can fetch it.

[2012-09-19 01:33] cancerberoSgx opened #40 "Places Types Overloads Correction"
I am successfully searching places, but only can search places of type "estabhilsment", and not filtering by all the other supported by google maps places, listed at https://developers.google.com/places/documentation/supported_types.

If I use other than "establishment" type, like "store" an java error like the following is thrown:

java.lang.IllegalArgumentException: No enum const class com.googl

[2012-09-19 01:51] branflake2267 commented on #40
maybe I misspelled something. hmmmm. I'll check. Thanks for the report.

[2012-09-19 01:52] branflake2267 commented on #40
[code]

[2012-09-19 02:28] branflake2267 commented on #40
Wow, your right about the strings... I see there are hundreds of types. So I'm overloading it.

[code]

[2012-09-19 02:54] branflake2267 commented on #40
I haved added an overloaded method for this. Thanks for the issue report. I also added example map, but haven't deployed it to the live demos yet. If you like to get the latest method sync to the source. Will get an updated jar available shortly.

[code]

[2012-09-19 03:14] #40 closed, assigned to branflake2267

[2012-09-19 03:35] cancerberoSgx commented on #40
in mine jsni projects I use a method for fransforming a java array to a js array:

[code]

then you can

[code]

and that becomes much more java friendly:

[code]

or

[code]

If I were you I would remove class AutocompleteTypes. Regards

[2012-09-19 03:44] cancerberoSgx commented on #40
thanks for adding the method!

PlacesService placeService = PlacesService.newInstance(mapWidget.getElement(), mapWidget);

this is wrong (my code). the map will be erased when clicked. I'm not understanding how to build a PlacesServices with your Java API. In the documentation (https://developers.google.com/maps/documentation/javascript/places#place_searches) says:

[code]

but your constructor re

[2012-09-19 03:46] branflake2267 commented on #40
Good point, that crossed my mind to do it that way.

[2012-09-19 03:47] branflake2267 commented on #40
That second issue... Would you mind filing that under a new issue? :)

[2012-09-19 03:57] branflake2267 commented on #40
Good idea. I'm overloading the types. :)

[code]

[2012-09-19 04:00] branflake2267 commented on #40
I pulled then merged the code with master. :)

[2012-09-19 04:07] cancerberoSgx opened #43 "PlacesService bad constructor"
see it here:
https://developers.google.com/maps/documentation/javascript/3.exp/reference#PlacesService

the PlacesService constructor accepts only one argument, an html element OR a Map object:

[code]

But you PlaceService Java class accept two arguments, attrContainer AND Map:

[code]

This is incorrect, I would change PlacesService class to this:

[code]

regards and keep the good work

[2012-09-19 04:08] cancerberoSgx commented on #40
thanks! and done a second issue at https://github.com/branflake2267/GWT-Maps-V3-Api/issues/43

[2012-09-19 04:13] branflake2267 commented on #43
Ah, I see what you mean.

[2012-09-19 04:15] branflake2267 commented on #43
Did you want to modify that and pull, or would you like me to do that?

[2012-09-19 04:20] branflake2267 commented on #43
I'm throwing it together while I'm in there.

[2012-09-19 04:25] branflake2267 commented on #43
lol, I see the relation to the other issue. :)

[2012-09-19 04:52] twistedpair commented on #13
Consider not showing maps until they are used on a given tab. Otherwise you'll load a ton of map tiles on non-visible maps, slowing your page load and exacerbating your Maps API billing. You could also just use a single map and change it with foo tabs if fancied.

[2012-09-19 04:53] branflake2267 commented on #43
Fixed. :) and merged...

[2012-09-19 04:53] #43 closed, assigned to branflake2267

[2012-09-19 04:57] twistedpair commented on #12
I've got the Sonatype OSS account, but not raised the ticket. I'll look into what this takes.

[2012-09-19 05:00] twistedpair commented on #15
Frankly it is not a big deal. Thanks for looking into it. I just try not to have any warnings in Eclipse and this is one of the few we have left. Frankly, given the limitations of the GWT JSO design and the Maps API, I concede that it is permissible to just suppress this warning, given that we've both investigated and vetted it.

[2012-09-19 05:01] twistedpair commented on #17
Sure do. Mainly need to get the other big items in like the weather overlay with temperatures and the new custom polyline decorators (and demos). The other small things in the list should take only a few minutes each to update and test. I'll merge when done.

[2012-09-19 05:03] branflake2267 commented on #15
Sounds good. :)

[2012-09-19 05:04] branflake2267 commented on #15
I'm going to close my branch pull request on this issue for now. And leave as is. :)

[2012-09-19 05:07] branflake2267 commented on #17
Let me know if you would like me to help put together something :)

[2012-09-19 05:17] twistedpair commented on #17
Probably this weekend. Been pretty busy since vacation the other week, but getting back in the groove now. Nice job on all the work you've been kicking out!

[2012-09-19 05:19] branflake2267 commented on #17
Thanks. You too. Not a problem.. :)

[2012-09-19 20:01] cancerberoSgx commented on #43
thank you, I'm just starting with github, and if created the correction, it woul take me a lot of time., Thanks again, now trying to regenerate the jar.

[2012-09-19 20:31] cancerberoSgx opened #45 "git - eclipse egit issue on unix systems."
Hi. I'm trying to import your project using eclipse 4.2 with egit plugin on linux but I can't. (using the same steps you describe in your documenthttps://github.com/branflake2267/GWT-Maps-V3-Api/wiki/Eclipse-Contributor-Setup ). At the last step of the eclipse project import wizard, eclipse fails with the message "invalid project description".

Researching a while about this, it seems that the the

[2012-09-19 20:47] branflake2267 commented on #45
Try mvn eclipse:eclipse and see if that cleans the .project file?

[2012-09-19 21:50] cancerberoSgx commented on #45
No it did not. also tried eclipse:clean and then eclipse:eclipse again. I'm not a regular maven user. I only wanted to import your project using eclipse egit like you describe in your docs, and I think this issue it is easily fixable just changing .project file from

[code]

to

[code]

(name copied and pasted exactly the same as github's)

[2012-09-19 21:51] cancerberoSgx commented on #45
thinking the same should happen with other OSes like mac, solaris, etc....

[2012-09-19 21:54] branflake2267 commented on #45
Ah, case is wrong... hmmm, I'm on a mac, but my os is not case sensitive, wish it came that way, like ubuntu.

[2012-09-19 21:55] branflake2267 commented on #45
Want to pull that change. I won't be able to get to that until I'm finished with my job. :)

[2012-09-19 22:00] cancerberoSgx commented on #45
yes exactly a wrong case problem... hugh, i thought macs were case senitive... thank you very much, there is no rush, then I'm planing to pull request two classes with all those hundreds of places types names as java constants, like PlaceTypes.embassy or String[] PlaceTypes.ALLTYPES. This is working nice:

[code]

[2012-09-19 22:01] branflake2267 commented on #45
Nice job :)

[2012-09-19 22:08] cancerberoSgx opened #46 "gwt jsni callbacks implementation"
I'm noticing that you do not use $entry() in your JSNI code. This is very recomendable when calling a Java method from JSNI code for the devel mode to manage javascript exceptions. I want to know, is there a reason for this? or you just forget it ;) ?

For example, in your code at PlacesService you have:

[code]

for my taste, using $entry() it should be

[code]

[2012-09-19 22:11] cancerberoSgx commented on #46
google docs about $entry()

https://developers.google.com/web-toolkit/doc/latest/DevGuideCodingBasicsJSNI#calling

[2012-09-19 22:45] branflake2267 commented on #46
I have no reason not to have it that I can think of. Good find.

[2012-09-19 22:47] branflake2267 commented on #46
I wonder if that would fix our _gwt_object issue that shows up. :)

[2012-09-20 00:33] cancerberoSgx commented on #46
I haven't encountered that, yet. Are you talking about https://github.com/branflake2267/GWT-Maps-V3-Api/issues/11 ?

[2012-10-01 07:04] rickdong opened #47 "Autocomplete with inputfield placed inside a gwt popup/dialogBox cannot use mouse click to select items."
This happens on Chrome 22.0.1229.79 m and FF 15.0.1 on win 7 64bit. However, using keyboard can navigate through and select (upon hitting 'Enter') items.

[2012-10-03 00:31] twistedpair commented on #46
Interesting. I recall seeing it when I read the JSNI API doc's, but they said it:
1. ensures that the Java-derived method is executed with the uncaught exception handler installed
2. pumps a number of other utility services
3. is reentrant-safe
4. should be used anywhere that GWT-derived JavaScript may be called into from a non-GWT context

The final point suggests it should be there, so shame on

[2012-10-04 18:15] cancerberoSgx commented on #46
Hi Joseph, nice to find you in another free software project ! ;)

I will tell you that in mine two major GWT libraries based on jsni and overlay types (JavaScriptObject), this is http://code.google.com/p/raphael4gwt/ and http://code.google.com/p/yuigwt I use $entry() in EVERY jsni code that calls java code from javascript. But I have seen that this is not mandatory and in most cases it only impac

[2012-10-04 18:19] branflake2267 commented on #46
Thats good info, thanks for sharing :)

[2012-10-04 18:22] cancerberoSgx commented on #46
I will stay in touch and show you an application that uses google maps (with this nice lib of yours) with a YUI (yahoo) user interface... Nice work the two of you !

[2012-10-04 18:28] branflake2267 commented on #46
Nice. I'll look forward to seeing your app. :)

[2012-10-04 18:46] cancerberoSgx opened #49 "Place types lists and constants"
Hi all. I would like to contribute with two classes for the Places API that contains all supported place type names documented in https://developers.google.com/places/documentation/supported_types. I know the correct thing to do would be cloning and make a pull request, but I¡m very short of time these days, so here they go:

[2012-10-04 18:48] cancerberoSgx commented on #49
[code]

[2012-10-04 18:50] branflake2267 commented on #49
Wow! Nice. I think we could change that to an enum and then we could get rid of all places and then just go enum.values(); :) I should get some time this weekend.

[2012-10-04 18:51] branflake2267 commented on #49
Good job!

[2012-10-04 19:02] cancerberoSgx commented on #49
in my case a really need to iterate through all the types names, that's why  I also created the array of strings with all the types inside. An enum should by nice also.

[2012-10-04 22:29] cancerberoSgx commented on #46
final thought: this lib is working nice, at least for me. IF it work ok, adding $entry() in al jsni calls can be a pain.... But if some strange bug / behavior is seen, perhaps not using $entry() can be the cause of it and should be taken in consideration.

[2012-10-04 22:49] branflake2267 commented on #46
Great idea. I'd like to aim to add that. I want to see how it deals with the __gwt_Object property.

[2012-10-19 19:26] davidnraines opened #50 "Typo in MapHandlerRegistration"
I believe I see a bug / typo in the class com.google.gwt.maps.client.events.MapHandlerRegistration.  In the "removeHandlerImpl" method, one sees the line:

 $wnd.google.maps.MapsEventListener.addListener(listener);

This should read:
 $wnd.google.maps.event.removeListener(listener);

"MapsEventListener" is (I think) a relic from an older version of the code, and the "event" object is used elsewher

[2012-10-19 19:31] branflake2267 commented on #50
Thanks for finding that. :)

[2012-10-19 19:32] branflake2267 commented on #50
Feel free to ask for a pull on that, and I can merge it :)

[2012-10-19 19:33] branflake2267 commented on #50
If you can't ask for pull can you let me know and I'll get on that fix. :)

[2012-10-19 23:05] davidnraines commented on #50
I created a fork, committed my changes, and have asked for a pull.  Let me know if there's any problem.

Thanks for managing this project, these GoogleMaps GWT bindings have been very helpful!

[2012-10-19 23:07] branflake2267 commented on #50
Thanks! I merged. :)

[2012-10-19 23:07] #50 closed, assigned to nobody

[2012-10-20 13:13] jorgelamb opened #53 "Typo in setRadius (setRaidus)"
There's a typo in setRadius method in class com.google.gwt.maps.client.placeslib.PlaceSearchRequest.

I can do the fix if needed, but should I leave the old method with the typo as deprecated? Or is it ok to change it?

[2012-10-20 13:22] branflake2267 commented on #53
Good question. Why don't you deprecate and add the new one.

[2012-10-20 15:12] jorgelamb commented on #53
Created a pull request with the change

[2012-10-20 15:33] branflake2267 commented on #53
Could you add @Deprecated over the method. Once that is done, I'll merge it. Thanks for helping out. :)

[2012-10-20 15:35] jorgelamb commented on #53
Sure, done.

Good to help. We'll share our project when ready :)

[2012-10-20 15:37] #53 closed, assigned to nobody

[2012-10-20 15:38] branflake2267 commented on #53
Thank you! I merged it into master.

[2012-10-20 15:39] branflake2267 commented on #53
By the way, do you have something your building that you can share?

[2012-10-20 15:58] jorgelamb commented on #53
We are working on a project for the Google Places API Developer Challenge, I guess you've heard of it.
https://developers.google.com/places/challenge/

The deadline is at the end of October, so it should be ready soon. We'd prefer not to make it completely public before we submit it to the contest, but we could share a link with you.

I'm not used to github, is there any private messaging in here?

[2012-10-20 16:41] branflake2267 commented on #53
It's no problem. I'm just curious. If you like, you can catch me on G+ privately, Brandon Donnelson. Have fun building it. :) Look forward to seeing what you come up with.

[2012-10-21 20:04] jorgelamb opened #55 "Support for Additional Results in Google Places search"
I'm looking for support of additional results in Google Places search, and I think it is not possible yet.

The API only returns up to 20 results for a search when the callback is executed, but it might have a nextPage where more results can be loaded. It needs to be executed at least two seconds after the first search, but it should be possible to access those results.

Here's the link to the doc

[2012-10-21 20:10] branflake2267 commented on #55
Is this something you want to try to tackle or should I try to do it?

[2012-10-21 20:13] jorgelamb commented on #55
Go for it, I don't think I'll have time for that at the moment. I'll check the status if I want to start working on it.

[2012-10-21 20:14] branflake2267 commented on #55
I'll see if I can get to it this weekend. :)

[2012-10-21 22:23] jorgelamb opened #56 "Is this even possible? Fusion Tables heatmap layer with radius, gradient, ..."
I don't know if this is even possible in Google Maps v3 API but here it goes in case someone knows:

Fusion tables configured as heatmap are very diffused when zooming in (not necessarily too much zoom, depending on the data). When zooming in trying to look for a point it is very hard to find.

There are also heatmaps where you can set the data not from a fusion table. Those heatmaps have the styl

[2012-10-21 22:41] branflake2267 commented on #56
Great question. Maybe ask this in the javascript api group. I'm not sure this would be easy to do with the current api. Just a random thought, but what I've been wondering is if I could use svg and overlay it depending on zoom/scale. I wa thinking I could get mapserver to spit out some boundaries and some how convert the spatial polygon to use with svg. I do know mapserver can spit out overlays fo

[2012-10-23 15:51] jorgelamb commented on #56
I tried to open a post on that Google Group but it has yet to be accepted. I'll post here if there's any update there.

[2012-10-23 16:32] branflake2267 commented on #56
Yeah, I see devrel fellow hasn't answered in a while. Maybe hes on vacation.

[2012-10-25 12:53] branflake2267 commented on #47
Thanks for sharing that.

[2012-10-29 18:23] rickdong opened #57 "setDrawingMode(OverlayType drawingMode) doesn't handle null"
while in the comment, it is said that the method takes null as to reset to normal map usage. In various places such as DrawningManager and DrawingManagerOptions, this method does not handle the null case.

public final void setDrawingMode(OverlayType drawingMode) {
    setDrawingModeImpl(drawingMode.value());
}

[2012-10-29 18:24] branflake2267 commented on #57
Good point.

[2012-10-29 18:24] branflake2267 commented on #57
I copied much of the comments form the javascript lib, although when converting this has occurred. :)

[2012-10-29 18:27] rickdong commented on #57
Seems like things we all do at times. Btw, will there be an upcoming release scheduled any time soon? Thanks.

[2012-10-29 18:58] branflake2267 commented on #57
@twistedpair Can you build a new release?

[2012-10-30 05:41] twistedpair commented on #57
Dug around in DrawingLib and cleared that bug and some other boundary NULL cases that could potentially cause trouble. Covered all these by tests. aa6dd003d5c15e720a13226464ee91e8b5796559

Running through TeamCity right now. Will upload the revised jars tomorrow. Need to get that TeamCity/GitHub/Maven link setup so these get pushed out as nighty's.

[2012-11-06 18:36] twistedpair opened #59 "Add updates from Maps V3.10 API Release"
v3.10 goes from Experimental to release on Nov 15th. Need to have it's changes/features ready close to then.

See [official change log](http://code.google.com/p/gmaps-api-issues/wiki/JavascriptMapsAPIv3Changelog)
- ~~Added Indoor Street View~~ - I find no additions to the api for this (2/15/2013,bd)
- ~~Added "Time in Current Traffic" to Directions~~ I find no additions to api for this (2/15/2013,

[2012-11-06 18:38] branflake2267 commented on #59
I'll aim to put some more time in upcoming here to help get some of the code in. :)

[2012-11-06 20:02] twistedpair commented on #59
Needs to start by pulling up current trunk into v3.9 branch. Finishing the 3.9 branch, and then branching v3.10 off there. Just note here whatever you are up to so we don't work against each other.

[2012-11-06 21:51] branflake2267 commented on #59
Good point. I'll keep in touch to what I aim for.

[2012-11-07 03:41] twistedpair opened #60 "Add Apache License Headers"
Copy pending. Needs adding to header of each file.

[2012-11-07 04:18] branflake2267 opened #61 "Maven GroupId"
I think we may need to come up with a better GroupId to fit sonatype hosting. Do you have any ideas?

com.google.gwt-maps-v3-api

[2012-11-07 04:20] branflake2267 commented on #59
Do you have a reason why this issue has the label wontfix?

[2012-11-07 04:20] twistedpair commented on #61
What are the criteria?

[2012-11-07 04:21] branflake2267 commented on #61
This is a feeling as of yet, but I think sonatype might have issue we are using googles domain? Not sure yet.

[2012-11-07 04:24] branflake2267 commented on #61
I'm wondering if this will conflict with another google project. But we can see what sonatype says, if they have issue with it.
<groupId>com.google.gwt.maps</groupId>
<artifactId>gwt-maps-api-v3</artifactId>
<version>3.8.0-beta2-SNAPSHOT</version>

[2012-11-07 04:27] branflake2267 commented on #17
Would you like me to catch this up and push it to master? Does more need to be done?

[2012-11-07 04:28] #15 closed, assigned to nobody

[2012-11-07 04:30] branflake2267 commented on #57
Is this ready to close. Looks like its done.

[2012-11-07 04:31] #56 closed, assigned to nobody

[2012-11-07 04:34] #47 closed, assigned to nobody

[2012-11-07 04:36] #45 closed, assigned to nobody

[2012-11-07 04:39] branflake2267 commented on #12
https://issues.sonatype.org/browse/OSSRH-4661 - filed issue

[2012-11-07 04:39] #8 closed, assigned to nobody

[2012-11-07 04:40] #61 closed, assigned to branflake2267

[2012-11-07 04:54] twistedpair commented on #61
True, projects like gwt-bootstrap used com.github, rather than com.twitter. I look forward to hearing what they say.

[2012-11-07 16:59] twistedpair commented on #12
Their response, as expected:

I wonder what it takes to get an account moved/renamed on GitHub? _branflake2267_ is just an odd name to have in all the package names and will make implementers curious. Whatever is chosen will also be a breaking change. It will at least need to be v3.10.0 or higher (can't do 4 since we're mirroring the GMaps versions).

[2012-11-07 17:41] branflake2267 commented on #12
I asked to see if groupid com.github.GWT-Maps-V3-Api would work

[2012-11-07 17:46] branflake2267 commented on #12
While I do think my username is odd, I think it make sense in context if you find the repo here.

I think changing the groupid to com.github.branflake2267.GWT-Maps-V3-Api would be easiest? Do think thats ok?

[2012-11-07 18:02] twistedpair commented on #12
I think _com.github.gwt-maps-v3-api_ would be best. This project certainly was your initiative and I don't mean to take anything away from it with the name. I just think that from an API consumer standpoint a more lucid name is better.

Probably something like:

And update our packages to `com.github.gwt.maps`  and `com.github.gwt.maps.test`.

What do you think?

[2012-11-07 18:08] branflake2267 commented on #12
We would have to own that om.github.gwt-maps-v3-api domain name, or account on github. Which my first impression is sounds like more work than its worth to me. :) I of course like the name in practice, but in reality, it makes things more challenging, which to say my time is already limitied, with helping out on a few projects now, gwt svg lib, gwtp and this. Hmmm

[2012-11-07 18:38] twistedpair commented on #12
You're right. At the end of the day, as long as the code compiles and deploys, and Maven does its magic, what's in a name? I must admit, I'm a little obsessive compulsive on naming, but I also have jars from bouncycastle in my apps... so I can't complain.

[2012-11-07 18:43] branflake2267 commented on #12
Good point. I like that. :)

[2012-11-07 19:17] branflake2267 commented on #12
Wahoo, we got the go ahead with the naming (that is imperfect :)). well at least it will make it easier to implement via maven. :)

[2012-11-08 03:40] twistedpair commented on #57
Updated POM to version 3.8.1, did a tag and Team City build and uploaded those files since I think v3.8.0 has been beaten to death. Then working to get the final bits of v3.9 into that branch, pulling v3.8.1 up into it.

[2012-11-08 03:41] #57 closed, assigned to nobody

[2012-11-08 03:49] branflake2267 commented on #57
Nice job :)

[2012-11-08 04:22] twistedpair commented on #59
I didn't label it won't fix. I'm not sure what you mean.

[2012-11-08 04:39] branflake2267 commented on #59
Must of been an accident, I removed it yesterday :)

[2012-11-08 16:18] twistedpair commented on #43
cancerberoSgx, note that the most recent build of the jars are available with this fix.

[2012-11-08 16:24] twistedpair commented on #12
Do you want to try to get the v3.8.1 jars out there? Just note, they really, really don't like to revert them, so it's got to be done correctly the first time.

[2012-11-08 16:25] twistedpair commented on #11
Moved to Issue #46 as this will be the fix.

[2012-11-08 16:25] #11 closed, assigned to nobody

[2012-11-08 16:26] twistedpair commented on #60
Brandon, do you have the copy for this? Is it customized or just straight from the Apache site? Thx.

[2012-11-08 16:34] branflake2267 commented on #12
We can increment the version if we have changes. I guess are we set with the naming? What would be a consideration for change?

[2012-11-08 16:35] branflake2267 commented on #60
I don't have anything specific.

[2012-11-12 06:38] vbudilov opened #63 "'Autocomplete' Exception"
Hello!

First of all thanks for working on this framework -- awesome job!

I'm getting an exception while running your sample code at the following line:
final Autocomplete autoComplete = Autocomplete.newInstance(element, options);

I've tested this in Chrome & Firefox (dev mode & PRD), and still get the same exception.

Can you please take a look at this?

Thanks!
Vladimir

In my HTML file:

<scr

[2012-11-12 07:16] vbudilov commented on #63
Also, I'm using GWT v2.5.0.

[2012-11-12 17:05] branflake2267 commented on #63
Just to confirm, I see the $wnd.google.maps.places is undefined. Do you have the places js loaded in the ajax loader?

[2012-11-12 17:36] vbudilov commented on #63
You're right, I might have missed it. I'll check once I'm home. Thanks!

[2012-11-12 18:12] branflake2267 commented on #63
Sounds good. Let me know if that fixes it. :)

[2012-11-13 01:46] vbudilov commented on #63
Fixed :) But I found a potential bug in the autocomplete functionality :) When I use autocomplete in a PopupPanel I cannot select any of the autocomplete options with the mouse, only with the keyboard. I've tested this thoroughly by putting the same exact code outside of the PopupPanel and mouse selections work. I also put your example in the PopupPanel and I get the same behavior -- mouse selecti

[2012-11-13 01:57] branflake2267 commented on #63
GWT has several issues open with popup panel, I wonder if one of them applies. Do you have modal enabled/disabled?

[2012-11-13 02:01] vbudilov commented on #63
Yes, that was it! I just set 'modal' to false and it started working. I guess it's a GWT PopupPanel issue, rather than gwt-maps one.

[2012-11-13 02:02] branflake2267 commented on #63
Can I close this?

[2012-11-13 02:04] vbudilov commented on #63
I'll close it. Thanks for your help! :)

[2012-11-13 02:04] #63 closed, assigned to nobody

[2012-11-13 02:06] branflake2267 commented on #63
Good job.

[2012-11-14 11:27] sonytricoire opened #64 "MapCanvasProjection.fromLatLngToDivPixel return void instead of Point"
From GMaps Javascript API, the methode signature is :

Point [MapCanvasProjection](https://developers.google.com/maps/documentation/javascript/reference#MapCanvasProjection).fromLatLngToDivPixel(LatLng)

In your API the [method](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/Apis_Google_Maps/src/com/google/gwt/maps/client/overlays/MapCanvasProjection.java) returns Void. Why ?

[2012-11-14 11:51] rajivbarik opened #65 "Exception on creation of MapWidget"
Hi,

I am using the GWT-Maps-v3-Api in a GWT application and getting an exception during run time. Please let me know if I am missing-out something.

Below is the code and the exception.

//Code

[code]

//Exception

com.google.gwt.core.client.JavaScriptException: (TypeError): Cannot read property 'maps' of undefined
    at com.google.gwt.dev.shell.BrowserChannelServer.invokeJavascript(BrowserChan

[2012-11-14 14:49] twistedpair commented on #64
This appears to be a defect. This will be rectified shortly and we'll update this Issue. Thanks for reporting this.

[2012-11-14 15:02] twistedpair commented on #65
Ravi,

This appears to be being thrown by the following line (javascript):

[code]

'maps' would be undefined if you had not loaded the Google Maps API. Can you confirm that you've inherited the this library's module and that the Google Maps API js file has loaded in your browser? Thanks.

[2012-11-15 13:28] rajivbarik commented on #65
Thanks Joseph. I was missing the reference to Google Maps API js in the html file

[2012-11-15 13:28] #65 closed, assigned to twistedpair

[2012-11-15 16:04] rajivbarik opened #66 "Unable to see the design view in the GWT designer."
Hi,

I am getting the following error when I switch to design view in the GWT designer. And I am guessing that its mostly because that the GWT designer is unable to parse the Maps-v3-api classes. In the class I am setting the MapWidget to a LayoutPanel.

No primary type.
Compilation unit /SharedLiving/src/sharedliving/client/SharedLiving.java has primary type, but can not find its AST. This can be

[2012-11-15 16:10] branflake2267 commented on #66
Hmmm I'll have to test this out. Thanks for the report.

[2012-11-15 16:28] twistedpair commented on #66
GWT Designer is probably the most fragile component that exists in GWT. A plethora of things don't work with it. That being said, I'm sure there are just some interfaces or similar enhancements needed to get it functional. We'll have to look into those.

[2012-11-15 16:39] branflake2267 commented on #66
Something I'd like to try when I get a chance to see what happens is put the MapWidget in an HTMLPanel in html designer and see if it works.

[2012-11-15 16:49] twistedpair commented on #66
I'd like to make it really simple to use this with UiBinder like

[code]

Much of this works out of the box with GWT (setting attributes are just routed to public setters), but to MapWidget would need to have an `@UiChild` handler for the children we want to allow within it.

[2012-11-17 03:39] branflake2267 opened #67 "Change source folder structure to maven format"
The reason this would be useful is that we could import the project in two steps using egit and m2e. And then maven sets up the project and can debug instantly.  This is also handy with IntelliJ & maven.

Thoughts?

[2012-11-17 03:39] branflake2267 opened #68 "Change source folder structure to maven format"
The reason this would be useful is that we could import the project in two steps using egit and m2e. And then maven sets up the project and can debug instantly.  This is also handy with IntelliJ & maven.

Thoughts?

[2012-11-17 03:40] #68 closed, assigned to nobody

[2012-11-17 03:42] branflake2267 commented on #17
Have you been keeping up the list? Which should I take, I'm open to working on this tomorrow. Good job.

[2012-11-17 04:19] branflake2267 commented on #55
I'm working on this in 3.9 release. PlaceRequest.

[2012-11-18 22:26] twistedpair commented on #17
The list is up to date with my efforts. I've put my name on the last four, I plan to complete tonight. Mark the ones you've completed or will work on.

[2012-11-18 22:28] twistedpair commented on #67
You mean that we're not doing `src/main/java`? Sounds like a good idea.

[2012-11-18 23:35] branflake2267 commented on #17
I marked off mine, place result or utc_offset. :)

I can aim to do the streeview next weekend, that is if I can sneak in some time between family time. I've promised my wife some family time :)

[2012-11-18 23:38] branflake2267 commented on #67
yeah, if we did src/main/java, we could import from egit and away we go, no need to fuss with the build path or GWT config plugin options. This sets up the google web toolkit plugin automatically or maybe the GWT plugin reads the config automatically. Anyway, this would make it about 2 to 3 steps to setup project as a whole and I think it would be handy to save some time there. :)

[2012-11-19 00:45] twistedpair commented on #67
Let's get all these other changes and branches merged, then make major changes like these.

[2012-11-19 00:49] branflake2267 commented on #67
Good point, I was thinking the same thing. ;)

[2012-11-19 03:24] twistedpair commented on #64
Fixed this partially in 38268807d0d84defc971ef162e2a4e2b49b23973.

Noticed 3 [OverlayView](https://developers.google.com/maps/documentation/javascript/reference#OverlayView) methods are not implemented by GMaps at all, but you need to implement then as prototypes in your JSO.

We need to add either handlers or a Callback wrapper so the users can set their own implementations for
- `OverlayView.dra

[2012-11-19 03:38] branflake2267 commented on #64
Nice. I can help take a look next week. I aim to get some more time in at working on some of these issues too. :)

[2012-11-19 04:19] twistedpair commented on #64
Worth looking at how the autogenerated code did this....however, they did not do OverlayView. You can see their [Overlay Solution](http://code.google.com/p/gwt-google-apis/source/browse/trunk/maps/maps/src/com/google/gwt/maps/client/overlay/Overlay.java).

[2012-11-19 04:25] branflake2267 commented on #64
That link didnt work. It looks like it points at our overlay.

[2012-11-19 04:34] branflake2267 commented on #64
Looking at OverlayView.onAdd() in more detail, I see that method in the master, are you thinking that should be different, or did you add those?

[2012-11-19 04:40] branflake2267 commented on #64
Oh I see, those functions are closures. Yeah, I see what we need to add. I think I wrote some callbacks like that in street view or somewhere else. I can't remember.

[2012-11-19 04:41] branflake2267 commented on #64
Saving this example to look at later: http://james.lin.net.nz/2012/05/24/google-map-v3-overlayview-code-sample/

[2012-11-19 04:42] branflake2267 commented on #64
Another handy example we could use for testing: http://blog.mridey.com/2009/09/label-overlay-example-for-google-maps.html

[2012-11-19 05:02] twistedpair commented on #64
Brandon, see the [Official Google OverlayView example](http://code.google.com/p/gwt-google-apis/source/browse/trunk/maps/maps/src/com/google/gwt/maps/client/overlay/Overlay.java).

Also, fixed that link to the overlay code in the generated project's [Overlay code.](http://code.google.com/p/gwt-google-apis/source/browse/trunk/maps/maps/src/com/google/gwt/maps/client/overlay/Overlay.java).

I'm just

[2012-11-19 05:13] branflake2267 commented on #64
I'm not sure, I haven't done that way. I like to use a handler interface with the callback method. I use an anonymous function for this.onAdd() = anon func and then I use that function to call the interface handler method. But that might not be the best way, I'm just pulling off what I usually do.

[2012-11-19 14:52] twistedpair commented on #64
My concern is why this is the only case of the Maps API specifying an interface rather than an implementation or callback. Perhaps these functions needed a higher performance? In that case, allowing the users to set a callback and then defining the function with it might be more inline with the original Maps API architecture.

[2012-11-20 03:49] twistedpair commented on #17
Completed all the features for v3.9.0 including some neat examples that flushed out a bug with ImageMapType.

[2012-11-20 05:04] twistedpair commented on #17
Four broken tests. Resolve these and it is closed. Current is up to date with master.

[2012-11-20 15:05] branflake2267 commented on #17
Wahoo, I'm impressed :) I'll aim to get on that soon.

[2012-11-20 20:37] twistedpair commented on #17
Fixed.

[2012-11-20 20:37] #17 closed, assigned to twistedpair

[2012-11-20 20:55] aayaffe opened #74 "How do I run the tests?"
I have written an addition for the API, and I want to write tests for it.
However I don't even know how to run the tests you've written.
Please advise.

[2012-11-20 20:59] branflake2267 commented on #74
In eclipse, you can right click on the SandBoxTest and click on DebugAs GWT Unit Test and it should run. If you get errors the build path needs correcting.

[2012-11-20 20:59] branflake2267 commented on #74
If the SandBoxTest works, you can use that as the frame for the next test.

[2012-11-20 21:00] branflake2267 commented on #74
Let me know if you get errors and we can go from there.

[2012-11-20 23:22] twistedpair commented on #74
Two ways:

**From Maven**
`mvn clean package` should do the trick running the tests via SureFire after compiling everything.

**From Eclipse**
Right click on `AllTestsSuite.java` and select _Run as > GWT JUnit Test_

Let us know if neither method works for you.

[2012-11-20 23:22] #74 closed, assigned to twistedpair

[2012-11-21 00:14] twistedpair commented on #12
v3.9 is nearly in the can. Once I get the jars up on here, can you push the same tag build to Maven Central?

[2012-11-21 00:17] twistedpair commented on #60
v3.9 is nearly out. Let's throw these on. Since you are the principal contributor, who should the copyright holder be? On other projects, like GWT-Bootstrap, it is just the name of the project.

[code]

[2012-11-21 00:19] twistedpair commented on #46
Brandon,

I see that you placed a lot of `$entry()` calls in the code recently. Can you do a code search and make sure all the bases are covered with these before we do v3.9 release? Thanks.

[2012-11-21 00:33] twistedpair opened #75 "Push v3.9 Showcase to AppEngine"
Brandon,

This does not jive anymore from Eclipse for me. I think you changed up some of the workings. Can you fix it up and push it out since you're a AppEngine pro at ArcBees?

[2012-11-21 00:46] branflake2267 commented on #12
Are we going to change the name to what we are going to use for sonatype?

[2012-11-21 00:48] twistedpair commented on #12
Good point. Can you add the issue? I can hop on it.

[2012-11-21 00:52] branflake2267 commented on #60
Good idea, the name of the project sounds good.

[2012-11-21 00:52] branflake2267 commented on #46
I can, but I won't be able to make time till about thursday to saturday. I'm aiming to work on it off work time. :)

[2012-11-21 00:55] branflake2267 commented on #75
Not sure I understand are you saying it won't load up? by the way I like the heat map.

Yeah, one of the reasons I suggested the maven format is so we can run with the setup with this with m2e egit import. I have to modify the build path still, adding the app engine library via library button and then I sort it to below the source and be sure the jre is at the bottom of the build path. Its possibl

[2012-11-21 01:01] branflake2267 commented on #12
I updated this issue :)

[2012-11-21 01:21] branflake2267 commented on #75
I see the war directory has to be set.

[2012-11-21 02:45] branflake2267 commented on #75
I'm reconfiguring the pom.xml so we can make this a two step import and run.
gwt-maps
gwt-maps-api
gwt-maps-showcase

I'll pull it and if you have better naming you can suggest now or at the pull, the goal is to make this easy to setup. :)

[2012-11-21 03:39] branflake2267 commented on #75
I've added the google app engine deployment so team city could compile and deploy to gae too.

[2012-11-21 03:53] branflake2267 commented on #12
I've renamed it in my latest branch and will be pulling shortly.

[2012-11-21 03:54] branflake2267 commented on #75
Ok I've got maven importing and setup complete. But is a big refactor for the first part. Its nice. I do have one quirk left with eclipse marking all my overrides and had that before, but I can't remember the fix yet, but it doesn't matter for the moment.

[2012-11-21 06:04] aayaffe commented on #74
Thank you,
After checking "Use Google web-toolkit", in the project properties, it worked.
I was able to run all the test and add some of my own.
For some reason some if not all of the tests that check "Pan" under MapImpl and MapWidget did not pass.
I will look into it later on.

[2012-11-21 06:08] branflake2267 commented on #74
Its possible that might be inherited.

[2012-11-21 15:24] twistedpair commented on #74
aayaffe, FYI, all 914 tests were passing last night, so your changes might have perturbed something in MapImpl. Try sycing up with the current HEAD (we just pulled in our v3.9.0 branch).

[2012-11-21 16:17] twistedpair commented on #75
In m2e I believe you can hover over the exception. Use the autofix option in the exception tooltip. Just click it and it will update the POM.

[2012-11-21 16:24] twistedpair opened #77 "Upload JavaDocs and Jars for v3.10.0 Release"
Things to complete to finalize release
- Add tags
- Add jars to downloads
- Update Wiki with new build instructions
- Update readme.md
- Upload JavaDocs for v3.9.0 (and v3.8.1)

So, in order, during a release we need to:
1. Take 3.9.0 tag
2. Build
3. Push to AppEngine - ensure all works well
4. Upload to Downloads
5. Update readme.md
6. Update gh-page with JavaDocs (build on Java 7+ for CSS)

[2012-11-21 16:44] branflake2267 commented on #75
I got it fixed, the compiler was setting up as 1.5 and the override annotations were getting underlined. The pom.xml variable wasn't correct b/c I messed it up.

[2012-11-21 16:45] branflake2267 commented on #77
Add Change readme.md docs :) - nevermind, glitched on that, I see it.

[2012-11-22 04:15] twistedpair commented on #12
Let me know when you get that branch merged with the refactored namespaces. Otherwise my stuff will probably have 100% conflicts given the tree changes.

[2012-11-22 04:16] branflake2267 commented on #12
oh yea, I'll check now.

[2012-11-22 04:18] branflake2267 commented on #12
I'm going to quickly migrate the core to maven directory b/c I noticed I would have to setup the build path to get the tests running.

[2012-11-22 04:42] branflake2267 commented on #12
I've got the core directories moved to maven arch, now testing import. one more thing to tune in pom and then run tests.

[2012-11-22 05:17] twistedpair commented on #60
At first I was looking at some bash tricks to add the headers, but then check SO and found that there are several Maven plugins to do this. The best as far as I could tell is the poorly named [license-maven-plugin](http://mojo.codehaus.org/license-maven-plugin/).

The nice thing is it pulls the stats from your parent POM and completes the license fields for your, and even downloads the template li

[2012-11-22 05:19] branflake2267 commented on #60
I think eclipse auto formatting could do it, but it might needs its own pull for just that b/c everything, well comments and stuff might get changed or tweaked.

[2012-11-22 05:20] branflake2267 commented on #60
Cool, the maven plugin sounds fun. good job

[2012-11-22 05:26] branflake2267 opened #79 "Rename module com.google.gwt.maps.Apis_Google_Maps module"
Instead of using Apis_Google_Maps[_ForTests] maybe name it something better, since we are changing the maven repo and such.

GitHub-GWT-Maps-API? or something that won't conflict with official...

Thoughts?

[2012-11-22 05:30] branflake2267 opened #80 "Rename Showcase html pages"
rename Apis_Maps_Test.html to Showcase.html and Apis_Maps_Test_FullPage.html to [ShowCase_FullPage.html]

Thoughts?

[2012-11-22 05:31] branflake2267 commented on #75
When we are ready for this, setup your credentials in the maven settings and then try mvn gae:deploy, maybe increment one version...

[2012-11-22 05:31] branflake2267 commented on #67
Finished in latest pull

[2012-11-22 05:31] #67 closed, assigned to nobody

[2012-11-22 05:32] branflake2267 commented on #55
I may have this done, I need to test it.

[2012-11-22 05:43] twistedpair commented on #60
The plugin can be set to run on each build and just insert the headers if they are missing. It is set to add them to `.html`, `.xml`, `.kml`, `.css`, and `.java`. So, most runs it adds nothing, unless you've added a new file. This way it does not matter what environment people use or how it is setup.

[2012-11-22 05:57] branflake2267 commented on #60
cool!

[2012-11-22 05:57] branflake2267 commented on #55
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/81 - delivered.

[2012-11-22 05:57] #55 closed, assigned to branflake2267

[2012-11-22 14:22] twistedpair commented on #61
We are totally revamping our structure and our maven files for the 3.9 release. This will be released to Maven Central. You should be able to expect this within a week.

[2012-11-22 14:23] twistedpair commented on #55
Nice work.

[2012-11-22 18:18] branflake2267 commented on #61
Yeah were getting quite close aren't we. :)

[2012-11-22 18:19] branflake2267 commented on #55
Thank you :)

[2012-11-23 03:21] twistedpair commented on #80
Sure, but not a fan of the camelCase. I've seen people get URL's wrong plenty of times this way.

[2012-11-23 03:26] twistedpair commented on #79
How about a much simpler name? It gets annoying typing these names out and getting them correct with case and dashes. Plus, this will need to be in the import statement people use. Given that the package name is unique enough, why not something like `Maps` or `MapsV3`?

[2012-11-23 04:03] branflake2267 commented on #80
Good point. I'm open to that. I wasn't worried b/c it was index or a link and I didn't see any manual typing in. Did you have any suggestions?

[2012-11-23 04:04] branflake2267 commented on #79
Good idea, Sounds good to me 

[2012-11-23 04:20] ghost commented on #13
Any update on this?  I noticed the same problem in this library as in the 3.8.0-pre from Google.

In my case, I create a decoratedtabpanel and on the second tab I have one map.  So, when in the app, when I go to the second tab, I get mostly gray map (except for the top left corner) and where I "center" the map at (and I put a marker on) is in the very top left (maybe a 50x50px square out of 500x50

[2012-11-23 04:23] branflake2267 commented on #13
What browser are you running this in that you see it, and is this during development?

[2012-11-23 04:25] ghost commented on #13
Wow - fast response! Chrome, yes in development.

[2012-11-23 04:26] ghost commented on #13
However, I was thinking of creating one map and not recreating for each tab click.  So, when I decided to put it in the tab selection change spot (I clear the panel, and recreate the map and add to the panel), then it works fine.

[2012-11-23 04:30] branflake2267 commented on #13
It should work in multiple tabs. What browser are you debugging in?

[2012-11-23 04:31] branflake2267 commented on #13
Oops I didn't see the previous response. Thanks :)

[2012-11-23 04:31] branflake2267 commented on #13
Can you try firefox and let me know if it works?

[2012-11-23 04:33] ghost commented on #13
Sure can - give me a few.  I changed over the Google 3.8.0 lib when I was banging my head against the wall here, It'll take me a few to change back.

[2012-11-23 04:49] ghost commented on #13
Same problem in Firefox...

If I create the map widget in the composite's constructor for this page - that's what I get.  The map size is correct and it's the in correct panel - I also only get the "hand" cursor in that top left corner as well.

If I move it to recreate on the tab selection even, then it functions fine.

[2012-11-23 04:51] branflake2267 commented on #13
I wonder could i get a screen shot and maybe some code so I can replicate when I get to this issue. You can send the screen shot to my G+ Brandon Donnelson and Joseph Lust. :)

[2012-11-23 05:09] ghost commented on #13
Just sent it over - I took out all of the superfluous stuff for code and included a screen shot.

Also, as a note - it does weird things as well when scrolling or zooming in an out - that square in the top left either turns rectangular either vertically or horizontally or the square grows (seemingly randomly) - if I have the developer console open and close it then I get entire map.  Just really f

[2012-11-23 05:11] ghost commented on #13
I think I share it with your other G+ profile - let me share it with your other one...

[2012-11-23 05:12] branflake2267 commented on #13
Thanks :) By the way, the 3.9.0 branch just changed in big ways if your linked directly to the source.

[2012-11-23 05:19] branflake2267 commented on #13
Adding Brian's code from G+

[code]

[2012-11-23 05:22] ghost commented on #13
I noticed you had a release date for 3.9 in a week, and I'm not doing anything fancy right now, so I'll probably download it in a week.

I noticed it seems Google isn't doing much with their GWT libraries - almost like it's dead.  Surprising, as I figured there'd be more demand.  Props to you guys for working on it.

[2012-11-23 05:24] branflake2267 commented on #13
Thank you. Yeah, good point.

[2012-11-23 05:26] branflake2267 commented on #13
Is that in a popup?

[2012-11-23 05:27] branflake2267 commented on #13
Just out of curiosity why are using static?

[2012-11-23 05:37] ghost commented on #13
No, it's not a popup.

I haven't gone through and cleaned up or commented all of the code - I am sure some static variables don't need to be static.  Others need to be because of the overall design.

Basic design is I have a content panel in the middle that I swap out depending on a historylistener or a button click on the left.  Due to the size of the app, I would rather keep the panels in memory

[2012-11-23 05:41] branflake2267 commented on #13
Yeah, I was wondering if that was why you were using static so they didn't get instantiated over and over. I like using gin but thats another topic. When the tab is drawn be sure to instantiate and redraw the map as well, its possible you have set the size after the tab is drawn if there is some animation, it might cause some issues. Or set the tab size explicitly. I might steer away from using st

[2012-11-23 05:43] branflake2267 commented on #13
Good job none the less, I was in that place once too and I've don the same things :)

[2012-11-23 05:49] ghost commented on #13
I've tried a ton of different ways and ordering (hence me banging my head against the wall) - fixed sizes, percentages, sizing before assigning the panel, sizing before assigning, along with other changes in order. I've also tried building and assigning the map in the constructor after the initwidget call as well.  Eh, then I gave up...

[2012-11-23 05:56] branflake2267 commented on #13
Ok, something I can solve when I get to it :)

[2012-11-23 05:58] branflake2267 commented on #13
My Todo this weekend. Create tabbed map example.

[2012-11-23 17:59] twistedpair commented on #60
Done. Just compile and any new files will have headers added.

[2012-11-23 17:59] #60 closed, assigned to twistedpair

[2012-11-23 19:00] twistedpair commented on #80
I was just thinking something simple like `index.html` and `fullscreen.html`. We can also host this on Github and just deploy it using the [`maven-site-plugin`](http://github.github.com/maven-plugins/site-plugin/).

[2012-11-23 19:17] branflake2267 commented on #80
Good idea. :)

[2012-11-23 19:18] branflake2267 commented on #80
Do you mean host the showcase on github?

[2012-11-23 19:21] branflake2267 commented on #80
There is some serverside code, the kml generator that wouldn't allow it to be hosted on github.

[2012-11-23 20:20] twistedpair commented on #80
Good point, just saw that. I've done renaming in a branch.

[2012-11-23 20:21] branflake2267 commented on #80
I think that app engine gives us some more flexibility to demo server side stuff if need be.

[2012-11-23 20:30] twistedpair commented on #80
Done. See #86

[2012-11-23 20:30] #80 closed, assigned to twistedpair

[2012-11-23 20:32] twistedpair commented on #79
Done. See #86.

[2012-11-23 20:32] #79 closed, assigned to twistedpair

[2012-11-23 20:44] twistedpair commented on #77
Currently investigating how to automate these processes as I've seen other projects like [GWT-Bootstrap](https://github.com/gwtbootstrap/gwt-bootstrap) do. Looking at using the:
- [github-site-plugin](https://github.com/github/maven-plugins) to deploy javadocs
- [github-download-plugin](https://github.com/github/maven-plugins) to deploy jars as downloads
- [maven-gae-plugin](https://github.com/mav

[2012-11-23 20:51] branflake2267 commented on #77
gae deploy is easiest I think.

[2012-11-23 21:00] twistedpair commented on #77
I assume you mean to just use the Eclipse plugin. The only reason to do the Maven bit is so that all of the hoops to go through are automated and don't even need an IDE to be run.

[2012-11-23 21:02] branflake2267 commented on #77
no maven would deploy it to gae with 'mvn gae:deploy'

[2012-11-23 21:04] branflake2267 commented on #77
credentials for the gae deploy have to be set in ~/.m2/settings.xml

[2012-11-23 22:55] twistedpair commented on #77
Sure. So you can chain goals to phases. That's why the trunk now carries out the `update-file-header` goal when you `mvn compile` not only when you `mvn license:update-file-header`. I was thinking this chaining would be encapsulated in a profile and then something like `mvn deploy -Pdeploy` could run them all. Or they could be run individually.

No big deal either way. I've been looking at the [Ma

[2012-11-23 23:07] branflake2267 commented on #77
I notice GWTP doing some of this too. I'm tuning it getting ready to build from teamcity/github too. I have some more gwtp 2.5 tests.

[2012-11-23 23:37] twistedpair commented on #75
You can test showcase at http://50.gonevertical-apis.appspot.com/

[2012-11-23 23:51] branflake2267 commented on #75
Nice work.

[2012-11-23 23:51] #75 closed, assigned to branflake2267

[2012-11-25 02:54] rwl opened #88 "Gwt-dev exclusion required"
This might be just a result of my poor pom setup, but I thought I'd raise it anyway.

I had to exclude gwt-dev when adding gwt-maps-api to the dependencies.

[code]

Otherwise I get this error:

[code]

I believe this is due to conflicting gwt-dev versions, but I don't have a dependency on this. The gwt-dev dependency is resolved through gwt-ajaxloader.

[2012-11-25 02:57] branflake2267 commented on #88
I haven't seen that error yet. But thanks for bringing that up, maybe we can get rid of it then. Worth investigating. Thanks.

[2012-11-25 02:58] branflake2267 commented on #88
Just out of curiosity, how do you have your IDE setup for GWT?

[2012-11-25 03:00] twistedpair commented on #88
Are you using GWT 2.5?

[2012-11-25 03:10] branflake2267 commented on #88
I'm wondering if maven didn't setup the project and GWT Plugin in Eclipse is using a different version?

[2012-11-25 03:11] branflake2267 commented on #88
I suppose this is GWT 2.4 glitch then.

[2012-11-25 03:24] branflake2267 commented on #88
Can you give us more information on how your project is setup so we can replicate the issue? :)

[2012-11-25 03:42] rwl commented on #88
Sorry for the delay with further details. I am using GWT 2.5 and Eclipse, but the error appears when running mvn gwt:run from the command-line. My pom looks like this and the parent poms don't do much. I noticed the gwt-dev version that gets resolved is version 2.0.3.

[code]

[2012-11-25 03:48] branflake2267 commented on #88
Do you think gwt-dev 2.0.3 coming from our pom or is it what you have in your local maven repo?

[2012-11-25 04:15] twistedpair commented on #88
@rwl , good point. We don't need `gwt-dev` to build the API.

Since it worked for you with the exclusion set in Maven, then this should work for you as well in 71b90f2be6149c4dd7eba1a0b6cbaf18d7317bb2.

[2012-11-25 04:16] #88 closed, assigned to twistedpair

[2012-11-25 05:04] rwl opened #89 "gwt-dev resolved through gwt-ajaxloader"
I have tried the latest source, but I am still getting the error in #88 because the gwt-dev dependency is resolved through the dependency on `gwt-ajaxloader`. Perhaps an exclusion should be added and a ticket raised [here](http://code.google.com/p/gwt-google-apis/issues/list).

[2012-11-25 16:06] twistedpair commented on #89
@rwl My apologies for the premature ticket closure.

The real question here is what's unique about your many POM dependencies compared to ours and others who have not experienced this issue. You said that it is triggered by the goal `gwt:run` and I must admit that I just use the _Run as > Web Application_ option in Eclipse.

It appears your issue is due to the transitive dependency of `gwt-dev` 2.

[2012-11-25 17:31] cancerberoSgx commented on #46
this is a response from Thomas Broyer from GWT groups about using $entry(). Besides exceptions there has also something to do with Scheduler:

Original [thread](https://groups.google.com/d/topic/google-web-toolkit/JN1WeU9K_FI/discussion)

[2012-11-25 19:07] branflake2267 commented on #46
Is there a reason why you would want to pass to native event instead of bubbling the event up the widgets?

[2012-11-25 19:09] branflake2267 commented on #46
I think passing to native event would make things messy for the lib, but thats my thought. I do like adding entry to the re-entry of the javascript jsni to java methods.

[2012-11-25 20:20] cancerberoSgx commented on #46
in my case, I am not working with GWT widgets. In my both libraries, http://code.google.com/p/raphael4gwt/ and code.google.com/p/yuigwt I'm working 100% using JavaScriptObject (overlay types) and both are fully independent on GWT widgets. They are based on GWT dom.client package (Element, NativeEvent, etc). These GWT dom.client overlay types will do the work of normalizing stuff.

Nevertheless I w

[2012-11-25 20:22] branflake2267 commented on #46
Thanks for the input. :)

[2012-11-25 20:26] branflake2267 commented on #46
Cool library and nice demos! Interesting, I've been re-working an gwt svg lib revamping so it would use gwt widgets. https://github.com/EngOnyx/lib-gwt-svg and my dnd sandbox http://svgsandbox.appspot.com/ :)

[2012-11-25 22:37] rwl commented on #89
My understanding is that dependency on `gwt-dev` is rarely necessary and should be avoided. The error I was seeing can be reproduced using the showcase by removing the `gwt-dev` dependency and the dependency management.

https://github.com/rwl/GWT-Maps-V3-Api/commit/e3e8115619152130a66c146332100e0bc85023e1

A temporary solution is to add `gwt-dev` exclusions, but ultimately I don't think `gwt-ajax

[2012-11-26 00:22] twistedpair opened #91 "Setup TeamCity for Project on CodeBetter"
Need to add an account on [CodeBetter](http://teamcity.codebetter.com/) for CI. Currently running off my personal machine, but this public version will allow folks to grab nightlies and to see the current master testing build state.

[2012-11-26 00:22] twistedpair commented on #91
Filed request to add this OSS project. Currently pending.

[2012-11-26 00:39] branflake2267 commented on #91
Cool! :) `redacted` is my username.

[2012-11-26 02:22] branflake2267 commented on #12
Directions for setup to deploy to sonatype.
http://www.sonatype.com/books/nexus-book/reference/staging-sect-deployment.html

[2012-11-26 13:29] twistedpair commented on #64
Currently 5 (intentionally) failing tests due to this. Will try to finalize the callback handlers tonight so they pass.

[2012-11-26 16:05] cancerberoSgx commented on #46
the same to your libraries ! raphaël main feature is that its API support browsers with no SVG, like IE<9. In those browsers it is implemented over VML (a MS vector drawing standar). So the API must work in both implementations SVG and VML. This feature has good and bad consequences. The bad consequence is that raphaël won't include any SVG feature that cannot be implemented in VML so it is kind o

[2012-11-26 16:25] branflake2267 commented on #64
Let me know if you need a hand on the handlers :)

[2012-11-26 16:29] branflake2267 commented on #46
Thats cool. I have to admit the svg library that I worked on was already being used for someones project and caused a real mess with memory which I fixed but I'm not pleased with it's architecture. But I can see yours has a nice source quality to it :)

[2012-11-26 19:45] twistedpair commented on #46
I used [lib-gwt-svg](http://code.google.com/p/lib-gwt-svg/) to make some impressive UI's last spring. It worked well, but only on Win Vista/7 due to Mozilla Cario SVG bugs and a BeginEvent bug in WebKit. Would have been nice to do it in Raphael to cover more browsers/quirks.

[2012-11-27 20:02] cyclingthealps opened #93 "Egit automated import didn't work"
The Egit automated import did not work for me.
I had to setup the gwt-maps-showcase manually with Brandon.

[2012-11-27 20:03] branflake2267 commented on #93
What version of eclipse did you have? I forgot to ask. :)

[2012-11-27 20:38] cyclingthealps commented on #93
Still on Indigo. Downloading Juno right now. :-)

[2012-11-27 22:41] cyclingthealps opened #94 "Update the readme.md "Eclipse Setup Using Source" part"
The inherit of the module has been renamed.
Please update
<inherits name='com.google.gwt.maps.Apis_Google_Maps' />
with
<inherits name='com.google.gwt.maps.Maps' />

[2012-11-27 22:49] branflake2267 commented on #94
Thanks for discovering that :)

[2012-11-29 20:53] branflake2267 commented on #12
This service is pretty cool. We moved GWTP to it. It builds all the pulls and marks if the pull passes. https://buildhive.cloudbees.com/job/ArcBees/

[2012-11-29 21:02] twistedpair commented on #94
I plan to do this once we've pushed to Maven Central (this week hopefully) and have cut and uploaded the release. Then we'll change them. However, I think what's on readme.md should work with v3.8.1.

[2012-11-30 00:07] branflake2267 commented on #12
What do you think of using this to deploy? Christian moved GWTP over today and it works quite nice, but the free service doesn't allow for the settings.xml file to get uploaded, but the paid service has more features and does. I'm thinking of subscribing to the service for GWTP at the $15 a month but I wanted to see if your interesting in hosting building there too.

http://www.cloudbees.com/platf

[2012-11-30 02:25] twistedpair commented on #12
@branflake2267
I checked out BuildHive and was pretty unimpressed. It was quite slow and very 1999 in design and presentation. It also failed to even successfully build and get through all the tests without being killed by their watchdog.

After using TeamCity, I find Jenkins to be quite clunky. However, CodeBetter has yet to get back to us.

How well does GWTP work for you on there? If you're loo

[2012-11-30 03:09] branflake2267 commented on #12
Hmm. bummer and seemed the free instance ran good, but thats killer if the production is slow, b/c they bill by the minute. I think you have a good point then, aws seems the most feesible.

[2012-11-30 03:11] branflake2267 commented on #12
Codebetter is running teamcity which is nice by the way, but uploading a settings.xml is not possible on 7.03, and is possible on 7.1, which could be done on aws. The settings would have the permissions for the sona deployment.

[2012-11-30 03:14] twistedpair commented on #89
Will add this to the FAQ I'm writing, but otherwise will soon close it as it is a matter with a dependency beyond the direct control of our own code base.

[2012-11-30 03:19] twistedpair commented on #12
I'll spin up a micro instance on my business's account (RunPartner.com) and see how the build looks on it. That being said, this is beyond the scope of just getting stuff onto Maven Central, so perhaps we should move it to another Issue number.

As to uploading the `settings.xml`, I'm not too keen on that from a security perspective that you'd be placing the keys and credentials on a community ser

[2012-11-30 05:14] branflake2267 commented on #12
I've been trying to find a nice cheap way to get GWTP deployed thats dependable, in the open which can deploy easily to sona nexus and funny this is falling about the same time too, so I've been thinking about both some.

Cloudbees seems expensive when you look a the build minutes and it builds on each pull, but is nice to let you know the pull is a success, but Codebetter, which works great is 7.

[2012-11-30 05:54] rwl commented on #12
Once set up, deploying a snapshot to sonatype is simply:

[code]

To stage a new release is:

[code]

While nightly snapshots would be nice, just deploying the occasional snapshot may be sufficient.

[2012-11-30 06:08] branflake2267 commented on #12
Thanks for the release commands, thats something I'm not as proficient at yet. I'm familiar with getting snapshots out, but haven't done releases yet. :) Anyway, I'm thinking Joseph's done this more than I :)

[2012-11-30 15:55] branflake2267 commented on #12
The link on the readme isn't working for travis ci server, but its cool :)

[2012-11-30 15:56] branflake2267 commented on #12
I applied to teamcity.jetbrains.com which I see GWT is being built here to.
http://www.jetbrains.com/eforms/openSourceRequest.action?licenseRequest=TCOSL5

[2012-11-30 19:53] branflake2267 commented on #12
I see your forking with org gwt-maps-api, I'm assuming you don't like the repo config?

[2012-11-30 20:17] branflake2267 commented on #12
I setup a teamcity server http://teamcity.gonevertical.org/

[2012-12-01 00:21] branflake2267 commented on #12
mvn test doesn't work yet, pom.xml has to be enhanced. tests run in junit runner fine.

[2012-12-01 00:44] vbudilov commented on #13
Hi!

I'm having the same issue, but I'm not even using tabs. The first time I load the maps everything works fine. When I load a different map, I see a rectangular map excerpt in the top-left corner of where the whole map is supposed to be. What I find interesting is that when I resize my browser, or open the Chrome "developer tools", the map goes back to normal. Also, a friend of mine was using j

[2012-12-01 01:06] branflake2267 commented on #13
If you only seeing one tile, the maps will have to be told to redraw after the other actions completed. The map got initialized with a smaller size, maybe percentages(%) for width and height. Trigger the resize, and I can't remember about the best way to do that at the moment.

[2012-12-01 01:07] branflake2267 commented on #13
The tabs have animation which cause the maps to initialize small, then grow.

[2012-12-01 01:07] jorgelamb opened #98 "Published project using GWT-Maps-V3-Api"
Not really an issue, but I didn't know where to put it  ;)

We've just published our project using this gwt library :) Finally, Open City Agora is published, just in time for Google Developer API Challenge. And they had extended the deadline a full month, but we can't send it with time in advance :p

You can try it from here: http://opencityagora.appspot.com

You can add layers from different sour

[2012-12-01 01:10] branflake2267 commented on #98
Wow nice project and great job! I'm going to look at it some more.

Yes you can put stuff on the showcase. Fork and ask for pull request. Please add a link to your project on top too.

Nice work.

[2012-12-01 01:11] branflake2267 commented on #98
I like the layers!

[2012-12-01 01:12] branflake2267 commented on #98
The map behaves well in your project. :)

[2012-12-01 01:15] jorgelamb commented on #98
Thanks for the quick and good responses! It's good to read them after the
work we've done in this project :)

It's late here, we had a late submission to the contest, but I'll create
the pull request soon :D

[2012-12-01 01:17] branflake2267 commented on #98
Good job and look forward to the submission the future. No hurries. :) If you want we can link that in the read me as an implementor.

[2012-12-01 02:39] vbudilov commented on #13
Resizing doesn't help. I might just have one static MapWidget in my map, and reuse it. If you're interested I can tell you if that works out fine.

[2012-12-01 02:58] branflake2267 commented on #13
I'm interested. :)

[2012-12-01 03:08] branflake2267 commented on #12
I got the build server working http://teamcity.gonevertical.org/, sign up if you like and I'll add you to the project.

[2012-12-01 04:03] branflake2267 commented on #12
I added account to gonevertical-apis.appspot.com account so I didn't have to publish my main credentials in settings.xml for gae deploy via manen on build server.

[2012-12-01 04:09] branflake2267 commented on #12
maven gae deploy from ci server is ready. mvn clean deploy -DskipTests=true - deployed version 50 tonight.

TODO: revisit separating junit/gwtunit tests

[2012-12-01 04:09] branflake2267 commented on #12
Snapsnot is deployed to nexus server. Its working.

[2012-12-01 04:12] branflake2267 commented on #12
Notified nexus ticket of upload. Waiting for ok, to release. I'll work on the tests again tomorrow.

[2012-12-01 05:39] rwl commented on #12
In the interests of having a more professional looking groupId, I have created an organisation:

https://github.com/gwt-maps-api

I have added @branflake2267 and @twistedpair as owners and it should be straightforward to transfer the repo over.

[2012-12-01 06:37] branflake2267 commented on #12
I've noticed. I've been pondering that road and I'm not sure I want to go that direction. As much as it makes sense to me, its not about the naming for me and I think its about the quality and consistency of the library over the life of it. I don't use a library b/c of its name, I use it b/c of the features, quality, testing and such. And if it doesn't fit my needs, I fork and modify it and do wha

[2012-12-01 20:42] vbudilov commented on #13
Hiding and then "unhiding" the map works fine. Every single time I need to remove all of the markers, so I keep an arraylist of Marker objects. This might not be pretty when the array grows to the thousands, but at this time it's the only option I've found. Below is the 'clearAndHide' method (I create only one instance of the map).

I'm assuming that the reason we're having this issue is with the

[2012-12-01 20:52] branflake2267 commented on #13
Thanks for sharing. Yeah, the gwt api is just plugging into the js api directly most of the time. I'll take a wack at trying some work arounds once I get past the maven building and deployment. :)

[2012-12-01 21:13] branflake2267 commented on #12
I'm working on the poms more, trying to get mvn integration-test to run the gwt tests and mvn test to skip the gwt tests. In prep so build goes 100% automatic for snap shot, and keeps ide testing easy.

[2012-12-01 21:46] branflake2267 commented on #12
Wahoo, I've got the pom.xml configured so it works. I've got a nice headache so I'll come back and do the formatting and some clean up and pull later, add it to the build server, and we should be good. It will deploy snapshot and to gae automatically. :)

[2012-12-01 21:47] branflake2267 commented on #12
I'll also come back and test auto import and setup in eclipse.

[2012-12-02 00:36] branflake2267 commented on #12
I'm testing 'mvn clean integration-test deploy' and the build server is now setup to deploy the snapshot and deploy showcase to gae automatically. I'll close this if I can get a successful set of events. :) Some tuning may be needed.

[2012-12-02 06:50] branflake2267 commented on #12
the build server is failing a few tests like:

[code]

[2012-12-02 06:57] branflake2267 commented on #12
~20 tests are failing, will have to revisit this on another day, but the build server is trying to build it, got everything running.

[2012-12-03 20:36] branflake2267 commented on #12
Some things yet to do, signing. I'm working on the signing for gwtp, so I'll copy theres once I get the release finished too.

Staging ruleset evaluation on repository 'com.github.branflake2267-065 (u:branflake2267, a:24.113.1.67)' has failed.

Staging Sources Validation
    -Missing: no sources jar found in folder '/com/github/branflake2267/gwt-maps-api/3.9.0'

Staging Signature Validation
    -M

[2012-12-05 04:10] cancerberoSgx commented on #93
i think this could be related to mine https://github.com/branflake2267/GWT-Maps-V3-Api/issues/45. Issue was closed but file .project wasn't fixed. not sure if that can solve it...

[2012-12-05 04:16] cancerberoSgx commented on #98
Nice work @jorgelamb! I'm also trying to build something similar to your app too !  I wonder do you get all those data from google places, or from your own or other 3rd party services. If the first, what is your experience publishing new Places in google places server / service ?

Also for @branflake2267, have this project a mailing list ? If not I think it is time, i recommend google groups. Rega

[2012-12-05 04:58] branflake2267 commented on #93
mvn eclipse:eclipse will manually set it up. egit m2e maven import will auto import and setup the gwt plugin, if its not I need to check the pom.xml. the pom.xml should set up the gwt eclilpse plugin, but there is some maven eclipse plugin that could be used to help, but shouldn't be needed anymore.

[2012-12-05 05:00] branflake2267 commented on #98
Mailing list. I have tried it, but for me its hard to manage all the source of communication I have. :) I like the Github issues, but you have a good point, not sure its busy enough yet to move to mailing list.

[2012-12-05 09:06] jorgelamb commented on #98
@cancerberoSgx The layers come from different sources:
- Google places from Places API (via this library :)
- other Google Maps layers also from this library (transit, bike lanes, weather, ...)
- other layers come from Open Data, that we had to export to Fusion Tables to add them to the map.

You can also add advanced layers from fusion tables or kml.

About mailing list: I created here because I

[2012-12-05 15:11] branflake2267 commented on #64
I've started on the overlay view.
1. created a ground overlay example
2. working on a custom overlay example
3. working on the proto in OverlayView

[2012-12-05 16:00] twistedpair commented on #64
We already have a demo. You can add to that. See the moon/mars showcase demo.

[2012-12-05 16:02] branflake2267 commented on #64
Good point. I'll use it for testing then merge it into the other when I'm done. :)

[2012-12-05 17:43] twistedpair commented on #89
I believe this item is now closed, as far as we can. If it is still impacting you from the ambient HEAD, please shout out.

[2012-12-05 17:43] #89 closed, assigned to twistedpair

[2012-12-15 11:56] jorgelamb commented on #98
Hi,

I've created a pull request for adding the project to the implementers list. I didn't find something to be added to the showcase, but if you want something from there just ask for it and I'll create an example.

If you liked the project you can vote for us in the contest gallery ;) https://developers.google.com/places/challenge/gallery

Pull request created https://github.com/branflake2267/GW

[2012-12-15 11:56] #98 closed, assigned to branflake2267

[2012-12-27 10:09] p91paul opened #106 "Showcase on gonevertical-apis.appspot.com is not working"
It doesn't show anything, reporting
404 Not Found - http://gonevertical-apis.appspot.com/showcase/showcase.nocache.js
on the browser console.

[2012-12-27 13:19] branflake2267 commented on #106
Thanks for reporting that. I'll get that fixed asap.

[2012-12-27 13:37] branflake2267 commented on #106
http://gonevertical-apis.appspot.com/ is back up. I caused some sorrow when configuring the pom.xml for signing a release.

[2012-12-27 13:37] #106 closed, assigned to branflake2267

[2012-12-28 03:47] #12 closed, assigned to branflake2267

[2012-12-28 03:47] #64 closed, assigned to branflake2267

[2012-12-28 03:48] branflake2267 commented on #77
I'll have to add an automated upload to this using the maven github plugin. I changed this slightly for easy releasing.

[2012-12-28 03:49] branflake2267 opened #109 "Add automatic github maven plugins to upload to github downloads"

[2012-12-28 03:49] #91 closed, assigned to twistedpair

[2012-12-28 03:50] #94 closed, assigned to nobody

[2013-01-02 15:48] ihurst opened #110 "OverlayView no setMap(MapWidget map) method"
In v.3.8.1 of this API the OverlayView class had a setMap(MapWidget map) method which I was planning on using to add but more importantly remove custom overlays from the map. This is no longer availble in v.3.9.0-alpha-16 which I believe has more OverlayView support.

How should I go about adding/removing Customer Overlays from my map?

Using the constructor for OverlayView will add the ovelary to

[2013-01-02 16:58] branflake2267 commented on #110
Hmm, Good question, I'll revisit that and double check.

[2013-01-03 00:00] ihurst commented on #110
Working a lot on Custom overlays at the moment and trying to work out how to incorporate the new Callback mechanism into my architecture.

Would be interested to know why you chose to use/create the OverlayViewMethods class and pass it as a Parameter in the callbacks rather than leaving these methods directly in the OverlayView class.

Once again thanks for all your great work on this, I'm learnin

[2013-01-03 00:12] branflake2267 commented on #110
Good question and I tried. I wasn't able to do it b/c of the prototype has to be instantiated at the beginning. The jso object is available at the end, so you could wrap it with another class and use a set map in that. I'll have to add a setmap.

[2013-01-03 00:17] branflake2267 commented on #110
If you find something that you want in the source, you could link to the source, tweak it and then request a pull so I so I could merge it :)

[2013-01-04 17:11] thetaquarii commented on #12
Hi,

Can I get the lib from Maven repo now? Which version and in which repo?
Thanks in advance!

[2013-01-04 18:11] branflake2267 commented on #12
Both the snap shot and release are available. The notes for adding are here: https://github.com/branflake2267/GWT-Maps-V3-Api

[2013-01-04 19:39] thetaquarii commented on #12
Thanks! Keep up the good work!

BTW, I guess `2. Add the inherits statement to your module.gwt.xml.` has to be updated from "<inherits name='com.google.gwt.maps.Apis_Google_Maps' />" to "<inherits name='com.google.gwt.maps.Maps' />".

[2013-01-04 19:44] branflake2267 commented on #12
Thanks, my bad. https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-showcase/src/main/java/com/google/gwt/maps/testing/Showcase.gwt.xml

[code]

[2013-01-07 15:44] GaryThomas commented on #93
n.b. JAVA & Eclipse are not my forte, please excuse the noobie questions :-)

I'm trying to run the showcase [demo].  I checked out the GIT tree and have imported both the gwt-maps-api and gwt-maps-showcase projects into Eclipse (3.7.2) following the instructions above.  When I try to run to run the showcase as a GWT application, I get this error:
    [Main]: Module HTML Showcase.html does not exi

[2013-01-07 16:44] branflake2267 commented on #93
I use m2e to import the showcase which should connect the source in the build path. but it has been reported to not import correctly. I've seen this in some cases. In the maven dependencies in the navigator, there should be a item called maps-api which connects the source for the show case so a jar doesn't have to be built. The next thing to check is to see if the google webtoolkit plugin and app

[2013-01-11 17:50] vqber opened #111 "Animation doesn't work at Marker"
Hello,

I'm Victor, I've been studying your library and I've tried to put Animation at Marker, but nothing happens, Marker is just visible without animation. I've tried both animation (DROP and BOUNCE) but they don't work as well.

Thank you

[2013-01-11 17:53] branflake2267 commented on #111
Thanks for reporting this. I'll have to take a look. Would you have some code I could use to replicate it?

[2013-01-11 17:56] vqber commented on #111
I'll code some lines and send to you. Thanks a lot.

[2013-01-11 18:02] branflake2267 commented on #111
Awesome, look forward to fixing this. :)

[2013-01-11 18:22] vqber commented on #111
This link is an Eclipse project (zip file), if you have some problems let
me know.

https://docs.google.com/file/d/0B7DTbQDE5uUTVmJBSWhQV0NYeDg/edit

Thanks

[2013-01-11 18:48] branflake2267 commented on #111
Sounds good, I'll aim to take a look as soon as I can. :)

[2013-01-14 02:40] branflake2267 commented on #111
Extracting the code for future reference...

[code]

[2013-01-14 04:17] branflake2267 commented on #111
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/112 - fix in the works.

[2013-01-14 04:18] branflake2267 commented on #109
This has been deprecated.

[2013-01-14 04:18] #109 closed, assigned to branflake2267

[2013-01-14 04:30] branflake2267 commented on #110
adding setMap https://github.com/branflake2267/GWT-Maps-V3-Api/pull/112

[2013-01-14 04:56] branflake2267 commented on #110
added setMap to example

[2013-01-14 04:56] branflake2267 commented on #111
adding controls to example

[2013-01-14 04:56] #111 closed, assigned to branflake2267

[2013-01-14 04:57] #110 closed, assigned to branflake2267

[2013-01-14 05:47] branflake2267 commented on #111
Just released v16... https://github.com/branflake2267/GWT-Maps-V3-Api

[2013-01-14 05:48] branflake2267 commented on #110
Just released v16... https://github.com/branflake2267/GWT-Maps-V3-Api - has this fix

[2013-01-14 13:08] vqber commented on #111
It works fine. Great job.

Thank you.

[2013-01-16 16:32] jfuerth commented on #13
I've been experiencing this too. It seems to be a limitation with the v3 Maps API itself. Any time the map is displayed after the page has already been loaded, the tiles aren't centered properly within the map's viewport. Add this method to your application and call it _after_ the map has been displayed (or redisplayed):

[code]

It's unfortunate that the center point has to be specified here. If

[2013-01-16 16:37] branflake2267 commented on #13
Thanks for sharing! Hm a handler would be nice. Maybe a handler resize handler could be provided or turned on. Good idea!

Someone has contributed a resize method. And I hope to get it in this weekend. :)

[2013-01-16 16:37] branflake2267 commented on #13
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/115 Here is the pull with change.

[2013-01-16 16:58] jfuerth commented on #13
Yes. It would be nice to have that resize method from pull #115. It would keep the JSNI out of application code. :)

Might I suggest the method is named triggerResize() instead of just resize()? To me, I'd expect a method called resize() to take a size argument. Also, using "trigger" in the name is a better match for the naming in the underlying JavaScript API.

[2013-01-16 17:03] branflake2267 commented on #13
Great point :) I like that comment. Thanks for sharing. :)

[2013-01-16 17:07] branflake2267 commented on #13
I'm going to aim to have this done and released by this weekend.

[2013-01-16 18:22] twistedpair commented on #13
@jfuerth Thanks for you help and suggestion. This issue has been kicking around for quite some time. :+1:

[2013-01-16 18:34] twistedpair commented on #98
@jorgelamb Nice project! :+1:

[2013-01-17 22:34] jfuerth commented on #13
@twistedpair @branflake2267 my pleasure! I was just about to give up hope for a Google Maps library published to Maven Central that works as-is with GWT 2.5. Your recent upload of this project to Maven Central saved me a bunch of time. So thank you!

BTW, is there a mailing list or IRC channel for this project? I've had a few small questions/comments over the past few days that I don't want to pol

[2013-01-17 22:39] branflake2267 commented on #13
Thank you. Not yet. I don't mind you posting questions or whatever you like here b/c its easy for me to work with. I've been thinking about opening a Google+ community b/c its quite easy to work with for me, but I'm haven't fired the gun on that yet. I haven't started a Google group yet, b/c I've been worried I couldn't process it appropriately, but its been brought up. Sounds about time for one o

[2013-01-17 22:42] branflake2267 commented on #13
https://plus.google.com/communities/105780740892495987648 - I created a community. I'll decorate the house later. I plan on spending some more time on the next release this weekend. :)

[2013-01-18 16:10] idegregorio opened #117 "Wrong method signature in Projection.fromPointToLatLng"
The method Projection.fromPointToLatLng should return a LatLng, it currently (3.16) returns a Point

[2013-01-18 16:20] branflake2267 commented on #117
Thanks for reporting :) I'll fix this tomorrow. I'm going to work on a new release tomorrow.

[2013-01-19 05:20] branflake2267 commented on #117
Fix in the works. I should have this deployed tomorrow.

[2013-01-19 05:46] branflake2267 commented on #117
I've updated the test cases for this.

[2013-01-19 05:47] branflake2267 commented on #117
Fixed in source, closing and releasing tomorrow.

[2013-01-19 05:47] #117 closed, assigned to branflake2267

[2013-01-19 06:25] branflake2267 commented on #93
I wrote up some docs on this: http://c.gwt-examples.com/home/maven/ide-import/eclipse

The module is working.

I just tried again and maven import is working good.

[2013-01-19 06:25] #93 closed, assigned to branflake2267

[2013-01-19 06:46] branflake2267 commented on #46
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/120 - added $entry

[2013-01-19 06:46] #46 closed, assigned to branflake2267

[2013-01-19 06:56] branflake2267 commented on #13
Renamed resizeMap which was just added to triggerResize
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/120/files

[2013-01-19 07:09] #13 closed, assigned to twistedpair

[2013-01-19 07:12] branflake2267 opened #121 "Create and add G+ Logo to community"
https://plus.google.com/communities/105780740892495987648

[2013-01-21 09:44] wikiro opened #123 "Suggested Methods and Bugs"
1. no method "setCenter(lng, zoom)" in class MapWidget
2. setMap(null) -> two methods in class (conflict)
   com\google\gwt\maps\client\overlays\Marker.java
3. Circle - no method "setCenter(lng)"

[code]
1. Polyline - there is no event like "addPolylineLineUpdatedHandler" (when vertex was moved to some place while editing)

[2013-01-21 17:36] branflake2267 commented on #123
Thanks for reporting! I'll get on this asap. :)

[2013-01-21 17:37] branflake2267 commented on #123
For marker instead of using setMap(null) try marker.close() or marker.clear()

Yeah, setMap((MapWidget) null) might be needed. I'll see if there is another option.

[2013-01-21 18:34] wikiro opened #124 "Page scrolled while map mouse zooming enabled"
Firefox 10.0.1 win 7 x64

Bug: enable map mouse wheel zooming = true
open FF, zooming map - page scrolling down or up too

Here is [the fix code](http://code.google.com/p/gmaps-api-issues/issues/detail?id=3652#c14) in javascript

[2013-01-21 18:35] wikiro commented on #123
ok. thank you. if i find another bugs i will post here.

[2013-01-21 18:38] branflake2267 commented on #124
Thanks for reporting. I'll get this done asap. :)

[2013-01-21 18:38] branflake2267 commented on #124
Thanks for linking me to the workaround!

[2013-01-22 05:18] wikiro opened #125 "Add OpenStreetMaps Layer"
New feature. Can you add osm layer by calling method?
## Like this code:

[code]
## In version google maps api 2 it was:

[code]

[2013-01-22 05:38] branflake2267 commented on #125
I would think so. Thanks for reporting. I'll aim for looking at this more this weekend.

[2013-01-22 05:57] branflake2267 commented on #125
If you need it sooner, feel free to fork, modify and pull against the master. :)

[2013-01-22 12:41] wikiro opened #126 "Bug with OverlayView"
1. Creating map

[code]
1. Creating some overview. look at "onAdd"

[code]
1. i tried to change code in MapWidget

[code]

to

[code]

but alert recursively had shown in FF

i dont know where is error (

[2013-01-22 17:02] twistedpair commented on #125
Here is [the example](http://wiki.openstreetmap.org/wiki/Google_Maps_Example) in the pure Google Maps V3 API to achieve this:

[code]

So there should not be a need for a core library change as it can be implemented from the GWT GMaps API. Of course a reference implementation would be a help to folks.

[2013-01-22 17:06] branflake2267 commented on #126
Nice work and good find. Thanks for reporting. I'll aim to get this done this weekend. Although I'm behind this week because of the flu. But I like to try to kill bugs quickly as I can. :)

[2013-01-22 17:25] wikiro commented on #125
Please create method

MapWidget map....
map.enableOSM();
map.setMapTypeId(MapTypeId.OSM)

[2013-01-22 17:27] twistedpair commented on #123
FYI, since Java needs to know the parameter type for method overloading, the following works as well:

[code]

Also, some of the proposed methods are not in the [Official JS API](https://developers.google.com/maps/documentation/javascript/reference#Map) such as `setCenter(lng, zoom)`. Generally, this project is a wrapper to GWT access to the JS API, so it mirrors the methods available there, rathe

[2013-01-22 17:37] branflake2267 commented on #125
Now that I look I don't see OSM as an option in the v3. Do you know if that OSM still exists?
https://developers.google.com/maps/documentation/javascript/reference#MapTypeId

[2013-01-22 17:42] twistedpair commented on #125
@branflake2267 from the looks of the code sample, it is a custom type (tile layer) being defined by the example.

[2013-01-22 17:45] branflake2267 commented on #125
Ah, thanks @twistedpair.

[2013-01-23 06:12] wikiro commented on #123
twistedpair, why you think so? i think we should add all usefull methods. In version gwt maps api 2 there were a lot of like this

[2013-01-23 14:42] twistedpair commented on #123
@evmx Good point. You are correct that Google has deprecated some functionality from V2. I merely mean that we try to keep up with the official release notes and API so that we know when we're done.

[2013-01-23 14:53] sonytricoire opened #127 "Unable to recreate a MapWidget"
Since API 3.9.0-build-17 (and also 3.10.0-alpha-1)

If I want to recreate an mapWidget the tiles are not loaded on the whole widget size.

Example with showcase by replacing existing drawOverlayViewMap with the following one (the aim is only to add a button to clear the widget and to add a new one) :

[code]

In this case, first draw is ok but after clicking on the reset button, only the top-left

[2013-01-23 15:08] branflake2267 commented on #127
Could you try

[code]

[2013-01-23 15:49] sonytricoire commented on #127
Calling triggerResize() does not fix the problem.

[2013-01-23 15:51] sonytricoire commented on #127
However, I found a workaround by keeping a reference to the initialized
mapWidget and then adding it to a cleared container.

[2013-01-23 15:58] branflake2267 commented on #127
Thanks for reporting. Good job on workaround. Do you think the above code is enough for me to easily and quickly replicate the problem? If not, could you provide a more complete sample in which I could replicate the issue?

Does this only happen in debug mode? Are you using Firefox or Chrome to debug?

[2013-01-23 16:24] sonytricoire commented on #127
Yes, with the code in the issue, a simple method replace from actual
showcase code will show you the problem.

I got the problem in debug mode and I did not tried to get it in production
mode. I used Chrome.

[2013-01-23 16:26] branflake2267 commented on #127
Could you try Firefox and see if there is a difference?

[2013-01-23 16:26] branflake2267 commented on #127
I have a feeling its related to the _gwt_Object

[2013-01-23 16:28] sonytricoire commented on #127
Yes same problem with Firefox.

[2013-01-23 16:29] branflake2267 commented on #127
Thanks :)

[2013-01-23 23:37] tvernum opened #128 "Typo in StreetViewService"
In StreetViewService the _getInstance_ method is incorrectly spelt `newInstnace`

[2013-01-23 23:45] branflake2267 commented on #128
Good find. Thanks for reporting.

[2013-01-24 01:13] branflake2267 opened #129 "Automatic resize"
Maybe we could implement this for the MapWidget. Something to investigate further.

http://google-web-toolkit.googlecode.com/svn/javadoc/latest/com/google/gwt/user/client/ui/ResizeComposite.html

[2013-01-24 03:36] twistedpair commented on #128
Arr, if only JSNI supported an interface being used by more than a single JSO, contracts could prevent any such typo.

[2013-01-24 03:38] twistedpair commented on #129
This is how I achieve this where `mapWidget` is private within the class. Hope if helps folks.

[code]

[2013-01-24 04:38] branflake2267 commented on #128
Good point. I suppose I could have used eclipse check style, it has a nice regex setup.

[2013-01-24 06:07] wikiro commented on #125
**Here the working code!** please use it to create usefull function like map.enableOSm(); map.setMapTypeId(MapTypeId.OSM)

[code]

[2013-01-24 06:17] branflake2267 commented on #125
If it works I'll add it. :) Our base line is the API reference and I haven't seen this, but that doesn't mean I won't add it. I'll aim to try it out soon. I'm behind this week, b/c I got the flu and I'm job hunting, but I intend to do some work late this weekend.

Thanks for providing the example that will help out. It seems the Street Maps API has been separated into its own class, b/c I created

[2013-01-24 06:21] branflake2267 commented on #125
What you provided me reminds me of this example we made here:
https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-showcase/src/main/java/com/google/gwt/maps/testing/client/maps/StreetViewCustomMapWidget.java

[2013-01-24 14:50] twistedpair commented on #125
@branflake2267 at the very least there can be a showcase example of using OSM that folks can use as their reference implementation of OSM in the library.

[2013-01-25 11:19] sonytricoire opened #131 "OverlayView.onRemove() argument methods cannot be used"
Using methods.getPanes().getFloatPane() works fine in onAdd and onDraw, but it does not in the onRemove method.

[2013-01-25 11:39] wikiro commented on #123
_Polyline - there is no event like "addPolylineLineUpdatedHandler" (when vertex was moved to some place while editing)_

how create this event, help me please

[2013-01-25 15:03] #125 closed, assigned to twistedpair

[2013-01-25 15:06] twistedpair commented on #125
Closed as this example should be sufficient for uses. I had thought however that we could add an `extras` package, or separate jar (i.e. `gwt-maps-api-extras`). This way you can implement the raw GMaps API, or use extra functionality/widgets too. It would provide a clear separation and maintainability between the _official API_ and supplemental feature requests.

[2013-01-25 15:47] branflake2267 commented on #131
Thanks for reporting. I wonder if that is not available in that method. Do you know if it should work?

[2013-01-25 15:48] branflake2267 commented on #123
Would it be possible to have you start a new issue for that question?

[2013-01-25 15:55] branflake2267 commented on #125
Nice work! I'll aim to do more this weekend and release what we've worked on. I also provide my release notes so you can do it as well. :)

Sounds interesting. I'm not sure I see what would qualify as going into extras yet? But you have a point if it is extra and an update comes down. The other thought that comes to mind, is do we want to create and extra b/c that means another item to maintain. :

[2013-01-25 15:58] twistedpair commented on #125
Very true. For now, I would say it is not a high priority. I know folks have "nice to have" methods and features, but support/maintenance is the killer in software. However, should compelling "extra" requests come in, and we have extra cycles, it could be useful for implementers to contribute to (i.e. if they have a neat widget from their maps app).

[2013-01-25 16:02] branflake2267 commented on #125
Good points :) Yeah, extra cycles..., another good point. That should happen after these bugs get killed and I'd like to try to start work on 3.10 features.

[2013-01-25 16:39] wikiro opened #132 "Polyline object - new event when vertex was moved"
Polyline - there is no event like `addPolylineLineUpdatedHandler` (when vertex was moved to some place while editing)

please, create it!

[2013-01-25 16:39] wikiro commented on #123
ok. here is it
https://github.com/branflake2267/GWT-Maps-V3-Api/issues/132

[2013-01-25 16:40] sonytricoire commented on #131
I don't really know but I think this cause a big problem for me : I'm
unable to remove a CustomOverlay (i.e. a class implementing OverlayView
methods) from a map widget.

I tried to remove a overlayview object by calling setMap(null) and also
trying to invoke clear() on this overlay view.
I also tried to call removeFromParent() in the onRemove() method.

If you use the OverlayView sample in showca

[2013-01-25 16:55] branflake2267 commented on #131
Ok. I should have made a more complete example to test more. :) Do you think you could provide a simple example which I could test that failure? I can see if something is missing or broken...

[2013-01-25 16:57] branflake2267 commented on #132
Thanks for reporting. :)

[2013-01-25 17:07] sonytricoire commented on #131
Yep I can do it on Monday..

[2013-01-25 17:13] branflake2267 commented on #131
Thank you :)

[2013-01-26 16:54] wikiro opened #133 "Polyline, Circle, Polygon - hide undo image while editing"
please create function to hide this image, thank you

http://code.google.com/p/gmaps-api-issues/issues/detail?id=4013
http://stackoverflow.com/questions/11157332/hide-the-undo-button-when-editing-shapes-with-google-maps-api-v3

[2013-01-26 17:10] wikiro commented on #132
I'm workarounding this feature. If i move a vertex - event set is fired! if i add new vertex while editing between 2 vertex by draging circle - event insert is fired. so this feature is not need.

[2013-01-26 17:12] branflake2267 commented on #133
Seems like adding supressUndo might be doable. Thanks for reporting.

[2013-01-26 17:21] #132 closed, assigned to twistedpair

[2013-01-26 17:50] twistedpair opened #134 "Change Release Numbering Scheme"
@branflake2267

Can the release numbering be changed to `X.Y.Z` where:
- `X` is major Google Maps API release number
- `Y` is major Google Maps API release number
- `Z` is the GWT update release from this lib

This way first two values are _fixed_ for a given release. The final number, since it should just do bug fixes and is non-api breaking, allows the various update releases. The next push woul

[2013-01-26 17:55] branflake2267 commented on #134
I was using the maven versioning methodology with a postfix. That looks good to me. If you want to change and pull so the next release can be built on it. Maven release auto increments the last number on each release cycle.
http://www.sonatype.com/books/mvnref-book/reference/pom-relationships-sect-pom-syntax.html

[2013-01-26 17:56] branflake2267 commented on #134
I moved the 3.10-alpha-1 on last release

[2013-01-26 17:57] branflake2267 commented on #134
Just a note, automatic tagging takes place and heres how that looks :)
https://github.com/branflake2267/GWT-Maps-V3-Api/tags

[2013-01-26 17:59] twistedpair commented on #133
Given that this is a defect in the official API, any undocumented hacks applied here would simple make this implementation more brittle. I'd again assert that the point of this project is not to alter the official API, but to provide GWT bindings.

FWIW, in my own implementations, I prefer to listen to the many mouse events on the Polyline to detect any and every change and implement my own undo s

[2013-01-26 18:08] twistedpair commented on #134
I understand you points. Could you clarify what the point of `3.9.0-build-17` is then? When I see that version, I assume it is an internal build. For example, for libraries like [Spring](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.springframework%22%20AND%20a%3A%22spring-context%22) all Maven Central releases, barring beta/alpha are 'RELEASE'. I've also seen 'GA' and no postfix.

My con

[2013-01-26 18:18] branflake2267 commented on #134
I added build-17 b/c I felt like it separated it from the maps api versioning a bit more. Since this was a wrapper, I diverted slightly b/c I wasn't exactly inline with the js version. I didn't want someone to get confused with the version of the js wrapper and the version that we released on. The other thought I had was I see everybody doing it how they want so I just kinda choose and went with i

[2013-01-27 00:05] #128 closed, assigned to branflake2267

[2013-01-27 01:54] branflake2267 commented on #126
Removing style and leaving that up to the end user to set it.

https://github.com/branflake2267/GWT-Maps-V3-Api/pull/136

[2013-01-27 01:54] #126 closed, assigned to branflake2267

[2013-01-27 02:06] branflake2267 commented on #124
This looks like an api bug and I'm not sure exactly what you are referring to with zooming = true. Would it be possible to cherry pick the code for me?

[2013-01-27 02:55] twistedpair commented on #124
This is fixed in FF. I just tested in FF 18. Is there a reason you're using 8 versions back in FF? Perhaps because that was an ESR version?

[2013-01-27 03:06] twistedpair commented on #134
Thanks for elaborating. That clarifies your reasoning and I concur with it. Once we're inline with the API, say 3.10.0, I fancy incrementing the final value if possible for non alpha/beta releases. That being said, you're certainly correct on the disparate names folks use. Some say RC, others say CR. Tomato, tomahto.

Also, I concur on the funky names. I've not personally used the release plugin,

[2013-01-27 03:18] branflake2267 commented on #134
Sounds good.

Could you request permission to release on this issue. Once you have, I can let them know your good to know. Then I can walk you through the steps when you are ready. :)

I wrote the steps down here. I'm hoping to automate them at some point but I haven't figured out how to add github to the settings.xml.
http://c.gwt-examples.com/home/maven/sonatype

[2013-01-27 03:30] twistedpair opened #138 "Add removal future version number to deprecated methods"
Add deprecation  version numbers to the currently deprecated methods for more formal end of support. Since the next release of note is 3.10, currently deprecated methods will be removed in 3.11 giving api consumers a full release cycle to update their implementations.

[2013-01-27 03:31] branflake2267 commented on #138
How would that look?

[2013-01-27 03:34] twistedpair commented on #138
Just numbers in the comments of the deprecated method.
i.e. @deprecated ... "method deprecated, see proper_method(). This method will be removed in release 3.11"

[2013-01-27 03:36] branflake2267 commented on #138
Ok, gotcha. I wanted to double check to see if something special was in mind. :)

[2013-01-27 04:58] twistedpair commented on #138
Done.

[2013-01-27 04:58] #138 closed, assigned to twistedpair

[2013-01-27 05:00] twistedpair opened #140 "Prune merged branches"
I already removed my joe_v3.9.0 branch.

@branflake2267 Can you remove your merged [brandon_release](https://github.com/branflake2267/GWT-Maps-V3-Api/tree/brandon_release) branch? I assume it is no longer needed, but wanted to let you do that in case you're still using it locally.

[2013-01-27 05:02] branflake2267 commented on #140
Yeah, I pruned a few the other day. :) I'll remove it.

[2013-01-27 05:04] branflake2267 commented on #140
I like to reuse the brandon_release when I release. B/c the maven plugin will increment the pom's and then I push once its done.

[2013-01-27 05:04] branflake2267 commented on #140
I'll delete it on remote. :)

[2013-01-27 05:05] #140 closed, assigned to branflake2267

[2013-01-27 05:10] twistedpair commented on #140
Sounds good :+1:

[2013-01-27 08:05] wikiro commented on #124
can you check this in last opera? if I fast zooming error occurs.
yes, in FF 18 it is fixed

[2013-01-28 20:23] sonytricoire commented on #131
Hi Brandon,

I just sent a pull request with patched overlayview demo.

Hope it's a good way for you to review.

[2013-01-28 20:26] branflake2267 commented on #131
That is perfect! Thanks so much for adding more to the sample. That will allow me to test it more. Awesome!

[2013-01-30 20:58] branflake2267 opened #144 "Community link broken on home page"
Community link broken on homepage.

[2013-01-30 20:59] branflake2267 commented on #144
I'll come back to this if someone doesn't beat me to it, after work...

[2013-01-30 21:31] twistedpair commented on #144
Ha, if only such things were not blocked by nearly every corp these days.

[2013-01-30 21:33] branflake2267 commented on #144
Well, I manually blocking it. :) b/c github lists the things I work on :) and I want to be honest too.

[2013-01-30 21:33] branflake2267 commented on #144
lol :)

[2013-02-01 07:50] wikiro opened #145 "SymbolPath for polylines"
I can't find this class. Can we add this feature for polylines?

https://developers.google.com/maps/documentation/javascript/reference#SymbolPath

example:

[code]

[2013-02-01 10:25] branflake2267 commented on #145
Would PolyUtils be the class you are looking for?

[2013-02-01 10:26] branflake2267 commented on #145
Or Polyline? Is there a feature of polyline that does not exist?

[2013-02-01 10:27] branflake2267 commented on #145
I'll take a look at the Symbol next tomorrow. Thanks for reporting :)

[2013-02-01 13:34] twistedpair commented on #145
This is part of GMaps v3.10 API. Currently we're implementing those features. See #59

[2013-02-01 13:34] #145 closed, assigned to twistedpair

[2013-02-01 15:14] wikiro commented on #145
ok. thanks, i will be waiting for commit.

[2013-02-01 15:18] twistedpair commented on #145
FWIW, we need to get on that as v3.11 (currently experimental) releases from Goggle on Feb 15th.

[2013-02-02 06:39] wikiro opened #146 "Very slow working... 2 polylines + markers"
Here the example:
http://wikiroutes.info/updates/22152

Gooogle maps version 2 was very fast. What is the reason? How to increase perfomance?

[2013-02-02 11:37] branflake2267 commented on #146
Do you have some source?

[2013-02-02 15:15] wikiro commented on #146
If you look at showcase http://gonevertical-apis.appspot.com/
map: Directions Service, Distance=76,2 км Duration=53 мин.
it works slow too...

[2013-02-02 19:04] branflake2267 commented on #146
I don't see any latency with the directions service in the showcase and if there is it most likely network related. The wrapper merely wraps the direction service with a call and callback and doesn't do anything special so it wouldn't slow it down. The showcase does have many maps loading at once so it might slow it down some but I've never noticed. Can you add some timing output so I could get a

[2013-02-02 19:05] branflake2267 commented on #146
I might suggest asking javascript user group to see if anybody has had the same issue?

[2013-02-02 19:05] #121 closed, assigned to nobody

[2013-02-02 19:13] branflake2267 opened #147 "add Circle setCenter(latlng)"
Circle - no method "setCenter(lng)"

[code]

https://github.com/branflake2267/GWT-Maps-V3-Api/issues/123

[2013-02-02 19:17] #147 closed, assigned to branflake2267

[2013-02-02 19:22] branflake2267 commented on #123
I won't add the setCenter(lng, zoom) b/c those methods exists individually and its my goal to follow the js api as close as possible due to time and bandwidth I have. I'm always open to fork and pull request with modifications and would consider the add.

I fixing circle and poloyline has its own issue.

The setMap(null) has method overloading and type designation fixes overloading with null.

Clo

[2013-02-02 19:22] #123 closed, assigned to nobody

[2013-02-02 20:08] #144 closed, assigned to branflake2267

[2013-02-02 20:09] branflake2267 commented on #131
I'm going to say this is expected onRemove. I made a note. Please re-open if you think this should work.

Thanks for adding to the example.

[2013-02-02 20:10] branflake2267 commented on #131
https://github.com/branflake2267/GWT-Maps-V3-Api/pull/149

[2013-02-02 20:10] #131 closed, assigned to nobody

[2013-02-02 22:29] #124 closed, assigned to nobody

[2013-02-02 23:20] branflake2267 commented on #127
I've replicated it :)

[2013-02-02 23:28] branflake2267 commented on #127
using .triggerResize() on the second map fixes the problem. Create and call a method on the class that creates the map that uses wmap.triggerResize() works.

[2013-02-02 23:28] #127 closed, assigned to nobody

[2013-02-02 23:29] branflake2267 commented on #127
What I did...

[code]

[2013-02-02 23:40] branflake2267 commented on #77
I've been working on uploading the javadocs via maven github plugin. So far in GWTP this is what I've done. I'm trying to figure out how to use a doclet called DocLava, which I think is a nicer style, although I can't figure out how to run it in aggregation mode on a multi-module project. Anyway, I wanted to write down config here b/c I may convert back to a doc lava config. This is handy b/c `mvn

[2013-02-02 23:46] branflake2267 commented on #77
What do you think of the DocLava style?
http://google-guice.googlecode.com/git/javadoc/packages.html

[2013-02-03 01:55] twistedpair commented on #77
@branflake2267 that or the 1.7 JDK look fine to me.

[2013-02-03 05:04] branflake2267 commented on #77
Yeah, 1.7 is ok with me to. :) I'm trying doc lava b/c it's been requested for GWTP. :)

[2013-02-03 15:05] wikiro commented on #146
http://wikiroutes.info/spb?routes=674

Zoom map and you will see that markers becomes bigger or smaller and polyline too. It might depend on that maps 3 used canvas. How to disable this? in version maps api 2 they use a < path >  tag

[2013-02-03 15:39] twistedpair commented on #77
Totally indifferent.  Anything is better than javadoc classic.

[2013-02-03 17:24] branflake2267 commented on #77
I'm sticking with 1.7 b/c it's far easier. I messed around with DocLava style and what a pain!!

[2013-02-03 17:24] branflake2267 commented on #77
By the way, great job on that. :)

[2013-02-03 17:26] branflake2267 commented on #146
Can you add a screen shot to this to show me what you are seeing specifically. I zoomed in on the map and I see the polyline and markers shrinking on the zoomin.

![Screen Shot 2013-02-03 at 9 25 35 AM](https://f.cloud.github.com/assets/1326504/122046/e41b2300-6e26-11e2-947a-112795660b19.png)

[2013-02-03 17:28] branflake2267 commented on #146
Cool site! Is that yours and could I add that link to the readme?

[2013-02-04 05:54] wikiro commented on #146
Opera/9.80 (Windows NT 6.1; WOW64) Presto/2.12.388 Version/12.13

**_zoom in:**_
![in](https://f.cloud.github.com/assets/3327424/122784/3df0c2fa-6e8f-11e2-89c8-2d42f2f15955.jpg)

**_zoom out**_
![out](https://f.cloud.github.com/assets/3327424/122787/4e09042c-6e8f-11e2-8b8b-192b18504f80.jpg)

yes, it's my site, yes you can add, thank you

[2013-02-04 06:01] branflake2267 commented on #146
I tried zooming in and out on chrome and I didn't get missing squares yet.

[2013-02-04 06:04] branflake2267 commented on #146
I'm wondering if you could check the chrome inspector to see if there is any javascript errors in the console?

[2013-02-04 06:15] wikiro commented on #146
please, try in opera

[2013-02-04 18:07] riparrag opened #153 "PolylineOptions doesn't have setIcons method"
PolylineOptions not includes setIcons.

Also not included IconSequence, Symbol and SymbolPath.

[2013-02-04 18:12] branflake2267 commented on #153
Thanks for reporting. If someone else doesn't beat me to it, I'll aim to work on this saturday.

[2013-02-04 18:16] irvjc82 commented on #153
Same problem here!

[2013-02-04 18:20] branflake2267 opened #154 "Reminder for me to add git ssh key to build server"
Reminder for me to add my ssh git key to the build server b/c it's causing it to fail. Or maybe it needs git configuration of some sort. Anyway my maven pom changes caused the build server to be different. Nothing to be concerned about, merely a configuration enhancement. :)

[2013-02-04 18:20] aivaldi commented on #153
Also I need it, and it is not included in the 3.10 alpha version.

[2013-02-04 18:25] branflake2267 commented on #153
I'll add it asap, after work or on the weekend, unless someone beats me to it. Then I can build and release it :)

[2013-02-04 19:43] twistedpair commented on #153
See the existing tracking story for this #59

[2013-02-04 19:44] #153 closed, assigned to twistedpair

[2013-02-04 19:49] branflake2267 commented on #153
Oops, I should have stated that in my comments, the 3.10 stuff hasn't been finished yet.

[2013-02-04 19:51] twistedpair commented on #153
@branflake2267  3.10 milestone is overshot. What do you think is a new goal for it? How much is left to knock off?

[2013-02-06 15:54] branflake2267 commented on #154
Was the pom parent version was wrong. Fixed and pushed.

[2013-02-06 15:54] #154 closed, assigned to branflake2267

[2013-02-07 11:25] wikiro opened #156 "New Layers: CloudMade and MapQuest"
CloudMade - use yours API_KEY

[code]

[2013-02-07 16:05] branflake2267 commented on #156
Thanks for the snippets :)

[2013-02-07 16:06] branflake2267 commented on #156
That is a nice feature add you have on you map. :)

[2013-02-10 19:01] branflake2267 commented on #146
I don't have control over the rendering in the map since we are just wrapping the javascript methods. I might see what the group might say about this subject:
https://groups.google.com/forum/?fromgroups#!forum/google-maps-js-api-v3

[2013-02-10 19:03] branflake2267 opened #157 "Monitor Pull Notifications form Build Server"
I've added build status for the pulls.

About the app I built...
http://c.gwt-examples.com/home/maven/build-server/team-city/github-pull-notification-app

[2013-02-10 19:03] #157 closed, assigned to nobody

[2013-02-10 19:05] branflake2267 commented on #77
Have you ever worked with building multiple javadocs version in the maven setup?

[2013-02-10 19:08] branflake2267 commented on #77
I've got GWTP uploading the docs, but I gave up on building past versions of the javadocs for the multi-module. I have a feeling that if another module was setup it could gather all the versioned jars up and then build the java docs from the jars, but I haven't tried it yet. This might be handy for automating the entire process of future and past javadocs.

https://github.com/ArcBees/GWTP/blob/mas

[2013-02-10 23:20] twistedpair commented on #146
A tip, encode your track at multiple levels. Encoded polylines are made sparser at more zoomed out levels, meaning that the points you cannot see at a given level are not rendered. This is making rendering faster. You can use encoded polylines with the library and the encoding utils.

[2013-02-11 04:30] branflake2267 opened #159 "Add ajax loader api as a transitive dependency"
I think we should add the ajax loader as a transitive dependency so it doesn't have to be manually included.

[2013-02-14 13:18] branflake2267 commented on #20
http://code.google.com/p/google-maps-utility-library-v3/wiki/Libraries - Someone asked if we could implement the cluster

http://code.google.com/p/google-maps-utility-library-v3/source/browse/trunk/markerclusterer/docs/reference.html

[2013-02-14 13:24] branflake2267 commented on #20
This library is huge, but does have some inviting utility classes. Maybe after 3.10 I might endeavor on.

[2013-02-14 15:20] twistedpair commented on #20
Good point. From a low ever GWT perspective, I'm sometimes weary of large bolt on libraries. For example the Garmin Communicator API downloads nearly 2 dozen js libs and jquery to do even the simplest task. Hence I did gwt-garmin-api as a native implementation in just 8k.

Hence, to include something like that, we'd need to be sure to make it optional in the loader.

[2013-02-14 15:26] branflake2267 commented on #20
Sounds like a nifty api. :)

I agree. I was thinking separate module, and maybe child modules with in that.

[2013-02-14 15:56] twistedpair commented on #20
Correct. What I really love about GWT is the minimalism of the final compiled product while many a framework these days bolts dependencies on top of dependencies. I recall a major retailer's landing page that required 276 downloads to load.

[2013-02-14 19:05] branflake2267 commented on #20
Great point! ... Holy moly 276...

[2013-02-16 04:46] branflake2267 commented on #159
https://github.com/branflake2267/GWT-Maps-V3-Api/pulls

[2013-02-16 06:26] branflake2267 commented on #77
https://github.com/branflake2267/GWT-Maps-V3-Api/pulls

[2013-02-17 08:42] branflake2267 opened #162 "Figure out what to do with ajax loader gwt-user and gwt-dev is at 2.0.3"
Since the ajax loader is using gwt-user and gwt-dev 2.0.3 it creates annoying conflicts now and then. I'm wondering if I should look at updating this.

[2013-02-20 09:09] idegregorio opened #163 "Wrong signature method: MapImpl.getControls()"
The method `MapImpl.getControls()` has the wrong signature. It currently returns a `MVCArray<Element>` but the native javascript method returns a `Array.<MVCArray.<Node>>` (not clear to me what that translates into java).

[2013-02-20 11:13] branflake2267 commented on #163
Thanks for reporting.

[2013-02-20 11:21] branflake2267 commented on #163
I'll have to investigate whether this was intended or not. The MVCArray is wrapping an MVCArray, so I'll have to double check.

https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/mvc/MVCArray.java

[2013-02-20 11:27] branflake2267 commented on #163
Interesting, I don't see the js api reference anymore Map.getControls() : https://developers.google.com/maps/documentation/javascript/reference#Map

[2013-02-20 12:01] idegregorio commented on #163
It's under Properties of google.maps.Map class,

By the way, I've been adding custom overlays to the map and found that I
couldn't hook mouse events on them with your MapHandlerRegistration. My
custom overlays are just plain <div> elements stuck on the map together
with an OverlayView property that allows them to handle the onDraw,
onRemove and onAdd events.

I would try things like:

MapHandlerRe

[2013-02-20 16:39] branflake2267 commented on #163
Ah, there it is. Hmm, I'll see if I did that array<mvcarray> correctly.

The next topic, well its not a bug, but could be a feature add. Nevertheless, I can direct you on options. GWT shadows the dom the and creates a parallel event structure it adds a little complexity. But I'll explain my work around if you can create a new issue :)

[2013-02-25 14:56] riparrag opened #164 "PolylineOptions refers to wrong javadoc"
PolylineOptions is referencing to PolygonOptions javadoc

com.google.gwt.maps.client.overlays.PolylineOptions refers to:
"https://developers.google.com/maps/documentation/javascript/reference#PolygonOptions"

[2013-02-25 15:36] branflake2267 commented on #164
Thanks for the find.

[2013-02-25 15:58] twistedpair commented on #164
Three cheers for folks reading the docs! I made that error, my apologies.

[2013-02-27 12:26] YevSent opened #166 "Exception Creating a Heat Map from non-encoded values"
I'm trying to create a heat map using points sourced from a database. This is my code:

[code]

But i get this exception: <i>a[Qb] is not a function</i>.

If I add:

[code]

Before:

[code]

All works fine. But I plan to use WeightedLocation and this solution not be working.

[2013-02-27 16:53] twistedpair commented on #166
@joni-jones to isolate that this is not the code filling the points, can you confirm this behavior with hardcoded LatLngs? Just to make sure `NULL` or similar is not being passed in. That way I've at least got a test case without `GPSCoordinate` to work with. Thanks.

[2013-02-27 17:00] YevSent commented on #166
Thanks for your answer. I'm also tried 'hardcode' single `LatLng` point and get this exception.
Also i checked `JsArray` of points it not empty.

[2013-02-27 17:27] YevSent commented on #166
If I'm call this code:

[code]

I'm get exception, but if add:

[code]

Heat showing on the map.

[2013-02-27 17:36] twistedpair commented on #166
@joni-jones Thanks for confirming this. I'll check it out when I get home tonight.

[2013-02-27 17:50] twistedpair commented on #159
To pull or not to pull?

[2013-02-27 17:52] twistedpair commented on #162
You can exclude those dependencies in the Maven dependency tag. I bet it will build with any forward version.

[2013-02-27 17:53] riparrag commented on #164
:)
Do you know when will be setIcons available ?

[2013-02-27 18:30] branflake2267 commented on #159
Not sure I understand. I'd like to test my pull out a bit more b/c I changed the javadocs to auto upload. I wanted to be sure it was ok with you b/c it would change the javadocs a little that is earlier versions won't be available on github. Have to go to maven central to get them.

[2013-02-27 18:31] branflake2267 commented on #162
Good point. If we include it as a transitive would could control that more too.

[2013-02-27 18:33] branflake2267 commented on #164
https://github.com/branflake2267/GWT-Maps-V3-Api/issues/59 - I've started on a couple but got bogged down with new job stuff. I'm aiming to do some work this weekend on this. :) Could fork, modify and pull, if we are taking to long :)

[2013-02-27 18:34] branflake2267 commented on #159
I'm hoping to slot some time today on this.

[2013-02-27 21:25] branflake2267 commented on #59
https://plus.google.com/communities/105780740892495987648

[2013-02-27 21:45] twistedpair commented on #59
Funny thing is 3.10 had a bunch in it. From what I can tell 3.11 had nothing but optimizations and bug fixes, so that should be trivial for us.

[2013-02-27 22:22] twistedpair commented on #159
Sure. I'm quite busy too, but try to glance through these when code's compiling. I'll jump on the HeatMap issue tonight.

How does this change the docs? Any material way? I recall you talking about a different theme, but then preferring the JDK7 doc layout.

[2013-02-27 22:22] twistedpair commented on #164
I'll try the icons on for size tonight too. :+1:

[2013-02-27 22:41] branflake2267 commented on #164
I'm switching gears at 3pm. I'm going to switch into maps. I'm going to test out the pom changes I made.

[2013-02-27 22:42] twistedpair commented on #164
Ha. PST. Nothing like horizontal wind driven rain out here in Boston. :)

[2013-02-28 00:34] branflake2267 commented on #77
latest javadocs upload to github with
mvn install site

[2013-02-28 00:34] #77 closed, assigned to twistedpair

[2013-02-28 00:37] branflake2267 commented on #164
Funny :)

[2013-02-28 00:38] branflake2267 commented on #59
That is very exciting to me :)

[2013-02-28 00:52] branflake2267 commented on #49
I'm thinking of putting these types in here, and extending it for the search types? thoughts?
https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/placeslib/AutocompleteType.java

[2013-02-28 05:39] wikiro opened #168 "Memory Leak - adding and removing map"
I create simple project. Button and map. Compiled it.

When i press button - map recreated and added to RootPanel. Browser (opera 11+, ) memory increase + 4 mb every time (if map is very big, 10+ mb).

Here the code:

If i add some polylines and overlay memory increases + 20 mb

on module load

[code]

[code]

[2013-02-28 05:49] branflake2267 commented on #168
Good find. Thanks for reporting. Did you notice which things were getting left behind? Ill check the detaching...

[2013-02-28 06:14] branflake2267 commented on #168
I'm run out of maps api coding time today. The next goal is to trace the dom and see whats getting left behind.

[2013-02-28 10:01] wikiro commented on #168
![ ](https://f.cloud.github.com/assets/3327424/204860/c828326c-818d-11e2-9d08-8d2a9937b763.png)

[2013-02-28 10:38] wikiro commented on #168
~30 reloads

look at created objects:

![ ](https://f.cloud.github.com/assets/3327424/204976/edbc93b0-8192-11e2-9693-72f681b72b22.PNG)

[2013-02-28 10:59] walmink opened #170 "StreetViewService "getInstance()" method incorrectly named "getInstnace()""
I did not understand why the compiler could not find StreetViewService.getInstance().
The documentation had the answer: is shows that the function is wrongly called "getInstnace".

[2013-02-28 14:29] branflake2267 commented on #168
The idea is to see if its possible to search for the orphaned elements. But I forgot to mention its a challenge to find the elements unless compiled with pretty.

[2013-02-28 14:30] branflake2267 commented on #168
By the way, good job. Do you think you could compile with pretty and then see if you can find the orphaned elements? I haven't had time to look and it won't be late today until I get another chance. Check detached that are red.

[2013-02-28 14:34] branflake2267 commented on #170
Good find. Thanks for reporting. I've got this one fixed and it will be deprecated in the next release.

[2013-02-28 14:34] #170 closed, assigned to nobody

[2013-03-01 02:31] cancerberoSgx commented on #49
I like it sorry I never had the time for the PR :( keep the good work

[2013-03-01 03:04] branflake2267 commented on #49
np, thanks for looking

[2013-03-01 07:15] wikiro commented on #168
http://stackoverflow.com/questions/12711330/google-maps-js-api-v3-recreate-map-with-no-memory-leak-move-map-object-to-dif

[2013-03-01 07:23] branflake2267 commented on #168
Interesting. Seems it might be upstream. I've been thinking about this, but haven't had much time to test. I wonder do you think you could reuse the map widget?

[2013-03-01 08:22] wikiro commented on #168
http://code.google.com/p/gmaps-api-issues/issues/detail?can=2&start=0&num=100&q=memory&colspec=ID%20Type%20Status%20Introduced%20Fixed%20Summary%20Stars%20ApiType%20Internal&groupby=&sort=&id=3803

[2013-03-02 22:23] branflake2267 commented on #168
Starred the issue

[2013-03-06 15:51] twistedpair commented on #168
Through my star on there too. Quite surprising that there is no way to clean these up. Usually the bar is higher for Google's APIs.

[2013-03-06 16:23] branflake2267 commented on #168
Good point. I was wondering too.

[2013-03-08 15:00] twistedpair commented on #168
Should this bug be closed or reprioritized given that it's up to the Google Maps team to fix it?

[2013-03-08 15:46] branflake2267 commented on #168
I was thinking about that too. I think we could close it b/c it looks like we can do nothing about it at the moment, but on the other hand I'd like to do something about it but sure at the moment about the options.

[2013-03-08 15:49] branflake2267 commented on #168
I think you're right, set a new tag on it for later, so we can march forward with 3.11. Maybe one of the users will suggest a work around when they find this pattern.

I'm at Sencha in Redwood city until this wednesday, so I've lost a little productivity on the open source projects I like to work on :)

[2013-03-08 16:26] twistedpair commented on #168
@branflake2267 nice. I hope you make some friends there.

[2013-03-17 13:35] mgmmmm opened #172 "When creating two maps on demand, the second map will be broken"
Hi!

I am trying to create two map objects on demand (and on the same page). The first map works fine, however the second map will be broken:
- it will use different options (from what I used in the map construction)
- the active / tiled area will be offset from the view area.

If these maps are created one after the other from code, they will work fine.
I am using the maps api version 3.10.0 alph

[2013-03-17 15:53] branflake2267 commented on #172
Does this happen during debugging with firefox?

[2013-03-17 16:08] mgmmmm commented on #172
I am using chrome on ubuntu 12.04 with eclipse. the issue occurs in debug and also production:
I deployed a version here: http://4.mundruczo1.appspot.com/

on clicking the button twice, the first map will be fine, but the second map will be broken: the map controls look different, pan control does not work and some of the tiles are missing.

[2013-03-17 16:11] branflake2267 commented on #172
Is this what you are seeing, where tiles are missing?

![Screen Shot 2013-03-17 at 9 10 59 AM](https://f.cloud.github.com/assets/1326504/268291/5161dc58-8f1d-11e2-9bb6-f6f3287eb3f7.png)

[2013-03-17 16:11] branflake2267 commented on #172
Just after the add, try mapWidget.triggerResize();

[2013-03-17 16:20] mgmmmm commented on #172
thanks.. all works fine!

[2013-03-17 16:25] #172 closed, assigned to nobody

[2013-03-17 16:29] wikiro commented on #172
But why triggerResize() doesn't called automatically?

[2013-03-17 16:30] branflake2267 commented on #172
Good question :) I've been meaning to investigate this. I'm not sure if its the lib or the js lib yet. I have a feeling it's me, but I need to investigate further.

[2013-03-18 18:19] twistedpair commented on #172
Ha. I used the link and saw the same missing tiles. But, when I hit F12 in Chrome to bring up the debugging menu, the browser resize fixed it, but you beat me to the answer. Nice catch @branflake2267.

[2013-03-18 18:23] branflake2267 commented on #172
:) Thanks. and thanks for looking too :)

[2013-03-18 18:26] twistedpair commented on #172
I wanted to see if I could solve the riddle too (long compile going on at work). Do you think `MapWidget.triggerResize()` should called from [MapWidget](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/MapWidget.java) by overriding the `onAttach` method?

[2013-03-18 18:28] branflake2267 commented on #172
I don't think that will work, b/c animation of the parent widget happens. I think observing the parent window resize or something to that manner.

[2013-03-18 18:29] branflake2267 commented on #172
So if a parent widget grows and when it finishes it has to notify the map it had resized. This would be after the onattach.

[2013-03-20 14:36] felixnutella opened #176 "Map not showing when setting MapTypeId directly on MapWidget"
Could it be that setting a maptype on a mapwidget BEFORE the widget is rendered would cause the map not to be displayed? Moving the maptype to the options object used instantiating the mapwidget works fine - but using the setMapTypeId(MapTypeId) screws it up.

This works:

[code]

This does not:

[code]

The only difference as I see is that the maptype is set on the options object when it works, a

[2013-03-20 14:43] branflake2267 commented on #176
Does the map show up with a simpler configuration?

[2013-03-20 14:44] branflake2267 commented on #176
I'm not aware of the maptypeid having an issue yet. I'm wondering what the parent widget size is. Does the map show up at all in any configuration?

[2013-03-20 15:29] felixnutella commented on #176
Think I found the cause of the error. Apparently the Options supports both upper and lowercase string value for the maptype. But setting the maptype on the map object is not working with uppercase. And taking the name() from the MapTypeId enum returns an uppercase value, which in turns makes it fail.

Woups - sorry for closing :)

[2013-03-20 16:07] branflake2267 commented on #176
Thanks for reporting. I'm wondering if I should handle that. :)

[2013-03-21 08:23] felixnutella commented on #176
Even if it is Googles mistake, I think it would be good if the project handles it - it's best if the code works as expected ;)

[2013-03-21 10:39] zoewangss commented on #63
Hi odessutv,
How did you actually load the missing places library with ajax loader?
Thanks in advance!

[2013-03-21 14:33] branflake2267 commented on #176
Good point, I'll have to look deeper at it.

[2013-03-21 14:35] branflake2267 commented on #63
This is how the Places is added to the loader.

https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-showcase/src/main/java/com/google/gwt/maps/testing/client/Showcase.java#L76

[2013-03-21 14:56] zoewangss commented on #63
Thank you!

[2013-04-01 19:22] m4urer opened #177 "Vaadin widget"
I created a vaadin widget in order to use your jar inside Vaadin 7.
Vaadin 7 includes gwt as a core component so it should be working.
I created a widget that shows gwt native components (Button, Checkbox, etc.) without a problem, so the widget is ok. But when I add the MapWidget to the gwt VerticalLayout it doesn't show, it just leaves a blank space where the map should be.

I know this isn't an

[2013-04-01 19:25] branflake2267 commented on #177
One options might be to check the Chrome javascript console and use it call one of the map methods to see if the maps js library is loaded. I would also inpsect the map div element to see if it has sized it self properly. It could be there, but not big enough. Those two things I find are common glitches for me.

[2013-04-01 21:10] m4urer commented on #177
I was thinking some dependency missing or vadin/gwt compatibility issue . After your comment I focused on the JS and realized there was some duplication there! Now I can see the map!!
Thanks!!

[2013-04-01 21:10] #177 closed, assigned to nobody

[2013-04-01 21:11] branflake2267 commented on #177
Good job! :)

[2013-04-08 07:51] ccrafael opened #180 "DOM Element returned"
Hello,

I'm using this wrapper recently and I have a suggestion.

There are many methods that return a type com.google.gwt.dom.client.Element. But would not it be better compatibility with 2.0+ GWT that returned the subtype com.google.gwt.user.client.Element?

Thanks and regards, Rafael.

[2013-04-08 15:57] branflake2267 commented on #180
Good thinking, I'll take a look. Haven't thought about that in a while :)

[2013-04-22 10:38] bobbd opened #181 "Language enum missing"
According to the list of languages linked below, Danish is supported.
However com.google.gwt.maps.client.LoadApi.Language doesn't seem to include the enum for it.

List of languages:
https://spreadsheets.google.com/pub?key=p9pdwsai2hDMsLkXsoM05KQ&gid=1

[2013-04-22 14:44] branflake2267 commented on #181
Oops, sorry about that, must have missed it. Feel free to fork, modify and pull update it sooner. Other wise, the custom params section can be used to pass that in.

[2013-04-22 14:45] branflake2267 commented on #181
Thanks for reporting! :)

[2013-05-09 00:14] umpire003 opened #183 "Mouse Events not caputred in InfoWindow Widgets"
In versions 3.9 and 3.10, I have encountered an issue where button click and mouse events are not captured on Widgets added to InfoWindows.  The InfoWindow displays properly, the button is added correctly, however events are not captured.  Below is a snippet from the my code.  Please advise if there is better way to capture these events.

InfoWindowOptions options = InfoWindowOptions.newInstance()

[2013-05-09 00:17] branflake2267 commented on #183
huh?

[2013-05-09 00:19] umpire003 commented on #183
Sorry, I have updared the issue... saved it by accident. My apologies!
On May 8, 2013 5:17 PM, "Brandon Donnelson" notifications@github.com
wrote:

[2013-05-09 00:25] branflake2267 commented on #183
np, was wondering :), did you take a look at the examples yet, I can't remember what I did at the moment. :)

[2013-05-09 00:36] umpire003 commented on #183
Yes, I looked at the examples, and believe that I've followed them, however I'm definitely missing something.  I'll keep looking.  I am trying to rebuild a Google Maps V2 app using your V3 libraries.

Running example with out working button clicks:
http://apps.esportscenter.net/boundariesnew/?host=test&D=8

Example of working V2 functionality:
http://www.findmyleague.com/western-region/little-leag

[2013-05-09 00:38] branflake2267 commented on #183
yeah, I can't remember if I added the widget feature to tooltip, its possible I forgot about that. I did add it to the controls on the map. Hm.

[2013-05-09 00:39] branflake2267 commented on #183
Nice map by the way.

[2013-05-09 00:43] branflake2267 commented on #183
Look for MapPanel or something of that name, add your widget to that and add the map panel to the info widget. I'm not sure that will work yet, I'm not able to look yet. :)

[2013-05-09 07:18] umpire003 commented on #183
I was able to get button click events to be recognized correctly by calling the InfoWindowOptions.setContent(Widget) method instead of calling the InfoWindow.setContent(Widget) method.

[2013-05-09 15:08] treethinker commented on #183
I experienced this, too, by the way. There are a couple of places where both
XobjectOptions.setBehavior() and Xobject.setBehavior() exist, and the Xobject.setBehavior()
does not work. It would seem me to clarify the API a lot to just confine it so that you had
to use the Options object for all behaviors.

Another example is MapWidget.setMapTypeId() versus MapOptions.setMapTypeId()

I am grateful f

[2013-05-09 15:35] branflake2267 commented on #183
Good to know. Thanks for sharing. :)

[2013-05-19 01:24] vhmeirelles commented on #20
Hi,

Does anyone have an example of using the MarkerClusterer in GWT Maps API V3?
Thanks a lot.

[2013-05-30 22:59] umpire003 opened #184 "Map Markers are not displaying (Chrome Browser Only)"
When a map marker is added without an animation, it is not displayed in the Google Chrome browser only.  Firefox and All versions of IE appear to work as expected. When the marker.setAnimation(Animation.STOPANIMATION) method is called, the marker disappears.   This is experienced in the Showcase examples as well as my own code.  Below is the browser error that occurs in the Chrome browser console.

[2013-06-12 16:33] branflake2267 commented on #20
I need to investigate to see if this fits this issue:
https://github.com/branflake2267/GWT-Maps-V3-Api/tree/master/gwt-maps-utility/markerclustererplus

[2013-07-15 09:35] rn-a2i opened #185 "Issue with Marker.setAnimation and null"
Hi,

I think there is an issue with setAnimation on the Marker class, when the attribute is null (marker.setAnimation(null);).

The method checks for null, but then it invokes itself again with the same attribute as the one that was used in the first place, resulting in a inf. loop.

[code]

[2013-07-15 16:05] branflake2267 commented on #185
Thanks for reporting

[2013-07-30 05:29] kuldeeps160 commented on #16
Thanks for your suggestions.
its works great for me.

[2013-08-08 09:44] magneto1 opened #186 "Map widget failing to load correctly"
Hi I have made a map widget using gwt and have noticed some vary strange behavior. Sometime the map will load correctly and sometimes it will only half load. it loads a small area in the top left corner and then just leaves the rest of the map gray. When i press "ctrl +" the map will finish loading and work fine. Before anyone asks its not a problem with my internet connection or browser as i have

[2013-08-08 10:41] mgmmmm commented on #186
I believe this is the same issue as I had previously. Here is the stream and a possible fix (add a call to mapwidget.triggerResize after adding the map):
https://github.com/branflake2267/GWT-Maps-V3-Api/issues/172

[2013-08-08 11:46] ccrafael opened #187 "roadmap problem"
Some countries not load the road map (Spain, Portugal, Italy ...)  when MapTypeId.ROADMAP is selected.

[2013-08-08 13:05] magneto1 commented on #186
The problem was happening because i was setting the map widget to be invisible at the start and when it is set to visible it had the affect shown above. The call to mapwidget.triggerResize after I made the map visible solved the problem and works like a treat. Thanks for the help.

[2013-08-08 13:06] #186 closed, assigned to nobody

[2013-08-08 14:00] branflake2267 commented on #187
This is just a wrapper of the Javascript API. I'm assuming that this error is for the javascript forums.

[2013-08-09 08:26] ccrafael commented on #187
Sorry, it was MapOptions.setMapMaker option and not a wrapper's bug.

[2013-08-09 08:26] #187 closed, assigned to nobody

[2013-08-16 10:21] mgmmmm opened #189 "Found interface com.google.gwt.maps.client.overlays.Marker, but class was expected"
I have been using maps for some time now and ran into the following problem:

[code]

I am using a map with about 400 markers and a custom marker overlay (`GWT v2.5.1` w. `gwt-maps-api-3.10.0-alpha-6.jar`). The bug seems to occur only in developer mode when the browser looses and regains window focus (switching between eclipse and browser).

I've checked online and this may be related to a [GWT ve

[2013-09-19 12:29] sherloclops commented on #20
Did you ever do this? I tried your MarkerClusterer and I get a "operation not supported error" by javascript... this after custom loading the compiled js implementing the object and trying to customize your code.

[2013-09-19 13:11] sherloclops commented on #20
http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/docs/examples.html

Seems to work fine especially with the custom js... not sure where I see that js library in your utilities modules either since MarkerClusterer isn't part of the v3 library.

Maps become useless once you have a few hundreds markers so this is a critical class... in spite of it being on the fringe of

[2013-09-19 14:47] branflake2267 commented on #20
Hm, I don't see a javascript loader. Looks like some work still needs to be done yet. Sorry I haven't had time to investigate further since this is a volunteer project I've had some time conflicts. Patches are welcome.

[2013-09-20 01:53] sherloclops commented on #20
I added:

[code]

to my gwt.xml

also also

[code]

In my POM.

So far so good.

But when I try:

[code]

It blow up here with:

[code]

Now I took the

[code]

from the html examples I saw successfully using the api.

But obviously something is amiss here. Hope your insight can resolve this in a few minutes :)

[2013-09-20 01:56] sherloclops commented on #20
I see

[code]

which should work given the javascript example does pretty much the same thing.

[2013-09-21 08:30] sherloclops commented on #20
I got it to work!!!!

Here's the recipe:

3.10.0-alpha-6 is fine.

Now in gwt.xml:

<script src="markerclusterer.js" />

create a public directory where the xml is and stick there a markerclusterer.js file ripped from:

http://code.google.com/p/google-maps-utility-library-v3/source/browse/trunk/markerclustererplus/src/markerclusterer.js?r=360

Then all will work!

Took me a bit to figure out but h

[2013-09-21 08:30] sherloclops commented on #20
also in gwt.xml add:

<script src="markerclusterer.js" />

And life will be good.

[2013-09-21 14:48] branflake2267 commented on #20
Good job.

[2013-10-01 11:55] leokury opened #192 "Autocomplete error"
When I put just a input with a autocomplete instance associated I got a error like "Cannot read property 'maps' of undefined". It is not possible to have just a input with autocomplete without a map object?

Source code:
final TextBox t = new TextBox();
            AutocompleteType[] types = new AutocompleteType[1];
            types[0] = AutocompleteType.LOCALITY;

[code]

Complete error stack:
c

[2013-10-08 14:31] Axxiss commented on #162
Any news about this? I'm using the latest GWT Maps version from Maven central and I'm stilll having this issue.

EDIT:

As a workaround adding the latest version to my project's pom removed the issue

[code]

[2013-10-08 14:53] branflake2267 commented on #162
Nothing new at the moment, I haven't had time to update. Thanks for sharing the workaround.

[2013-10-16 13:25] nasamad commented on #20
Hello sherloclops, I'm facing a similar issue: I added the markercluster.js in the same directory as my custom .gwt.xml
and in my gwt.xml, I added: [script src="markerclusterer.js" /]
But I'm still getting the same error. In which directory did you the JS file and how are you referencing it? Thanks

[2013-10-16 14:53] branflake2267 commented on #20
Try adding a timer and see if its loaded after a second.

[2013-10-16 14:56] branflake2267 commented on #20
I use a callback method for the maps api, and I don't see one here. If it has a the ajax loader strategy could be used so that a runnable could be used to programmatically load after the js has been injected.

[2013-10-16 16:57] nasamad commented on #20
I created com.google.gwt.maps.utility.markerclustererplus package , copied the MarkerClusterPlus.gwt.xml into it, modified it to include  [script src="markerclusterer.js" /]. I then created the "public" directory, added the markermanager.js inside it.. It doesn't work in Development mode. But it does when I deploy it to the server.  "production".

[2013-10-16 17:00] nasamad commented on #20
"I use a callback method for the maps api" Are you referring to  LoadApi.go(onLoad, loadLibraries, sensor);

[2013-10-16 17:05] branflake2267 commented on #20
The question is does the markermanager.js call a method once its loaded? If it does that can be used as a callback in a GWT runner, like the ajax loader method, which is similiar to the LoadApi.go... Some js has a call back feature, or feature that can be used for onsuccess or onfailure. Working with js has to be done asyncly, that is there is a timing issue between the time it gets loaded, parsed

[2013-10-16 20:17] nasamad commented on #20
Thanks for the explanation. The markermanager does trigger a loaded event once it's loaded. However, I don't see anywhere where such event is triggered  in the markercluster.js.

[2013-10-16 20:49] branflake2267 commented on #20
Cool, I've been meaning to look deeper at it but haven't had time.

[2013-10-17 03:14] nasamad commented on #20
Brandon, I got it to work in dev mode by delaying the instantiation until MarkerCluster is actually needed. However, the events that I had registered to the markers themselves no longer work. Any trick that I can use to register mouseover and mouse events using this MarkerClusterer JSNI as shown here http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/examples/events

[2013-10-17 03:21] branflake2267 commented on #20
I suspect the handlers have some sort of handling for events, and if so I would check out the event system. Its not pretty b/c there is some generic challenges in it and I used inheritance a bunch. Another thing that I do for widgets is use > https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/events/MapPanel.java to wire up the events

[2013-10-17 03:26] branflake2267 commented on #20
https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/events/MapHandlerRegistration.java contains the main part of the map event logic, which uses handlers to pass back objects

[2013-10-17 03:38] nasamad commented on #20
I will give it a try. Thanks

[2013-12-21 08:24] wikiro commented on #145
Hello, what about this issue?) I realy need this feature...
example: http://wtp2.appspot.com/ArrowLine.htm

[2013-12-21 09:54] wikiro commented on #59
I created some object but i dont know is they all are right

[code]

[2014-01-05 18:40] twistedpair commented on #162
Just faced this problem again. Now however, with `gwt-maven-plugin 2.5.1` the my project will not even compile due to incompatible compiler flags.

As such, simplest workaround is, in your consuming project POM:

[code]

For the long term fix, doing the above exclusion within the `gwt-maps-api` POM should also do the trick.

[2014-01-13 04:56] twistedpair opened #195 "Unit Tests Fail to Complete - HTMLUnit Errors"
branflake2267,

Can you confirm that the test suite runs for you? I've tried `mvn clean install` from multiple machines and while the older builds pass, the HEAD of master fails with tons of errors similar to the below which imply that HTMLUnit cannot handle the calls from GMaps.

[code]

I'd like to have the tests passing again locally for confidence and want to make sure it's not just me. Thanks

[2014-01-13 17:03] branflake2267 commented on #195
Sure. I can take a look tonight after work.

[2014-01-13 20:12] twistedpair commented on #195
@branflake2267 Thanks!

[2014-01-14 01:47] twistedpair commented on #49
@branflake2267 I see the merge above. Is this defect still open?

[2014-01-14 01:58] twistedpair commented on #189
@mgmmmm I know it has been a while, but if this is still a problem, can you provide a simple example that reproduces it? Thanks.

[2014-01-14 04:33] branflake2267 commented on #195
I caught up with the master and ran the tests and there are a few errors.

![screen shot 2014-01-13 at 8 32 25 pm](https://f.cloud.github.com/assets/1326504/1907630/11c21d00-7cd5-11e3-84f2-b935bbf08ed7.png)

[2014-01-14 21:21] #185 closed, assigned to nobody

[2014-01-14 21:22] #164 closed, assigned to nobody

[2014-01-14 21:40] twistedpair commented on #146
Closing because it is not apparent that this issue is caused by the GWT-Maps-V3-API wrapper. The issue is likely an artifact of the underlying JS lib based on browser and hardware. As such, it is beyond the scope of this project to fix these issues.

[2014-01-14 21:40] #146 closed, assigned to nobody

[2014-01-14 21:42] twistedpair commented on #195
@branflake2267  Silly me, I hadn't tried running using the `Run as Junit GWT Test` Eclipse shortcut, which does work. However, I still don't see the tests running properly with Maven. Do you use `mvn clean test`, `mvn clean install` or `mvn clean gwt:test`? None of them are running the tests properly for me. Thanks!

[2014-01-14 21:52] twistedpair commented on #168
Closing because this is an upstream bug in the JS API. FYI, I use GWTP and a single map page that can be marshaled between views. This way the map loads instantly as it was never unloaded and you don't have the memory leaks from multiple maps in your app.

[2014-01-14 21:52] #168 closed, assigned to nobody

[2014-01-14 21:52] branflake2267 commented on #195
`mvn clean integration-test` I think it was. I didn't try that. `mvn gwt:test` I think too.

[2014-01-14 21:52] branflake2267 commented on #195
I do stuff like that all the time :)

[2014-01-14 22:39] twistedpair opened #198 "Updates for Maps v3 3.13"
Here is everything that changed since v3.10 that needs to be caught up with
- [DynamicMapsEngineLayer](https://developers.google.com/maps/documentation/javascript/mapsenginelayers)
- disableDefaultUI option in StreetViewPanoramaOptions
- [StreetViewCoverageLayer](https://developers.google.com/maps/documentation/javascript/reference#StreetViewCoverageLayer)
- [StreetViewPanorama](https://developers

[2014-01-15 00:15] twistedpair commented on #195
Neither seem to work. What config do you use when building in TeamCity?

[2014-01-15 00:26] branflake2267 commented on #195
I'll have to test, I've turned off my server at the moment.

[2014-01-27 06:57] markusolsson opened #200 "Passing widgets for InfoWindows not working"
I'm trying to display widgets in `InfoWindow`s just like you do in the showcase `InfoWindowMapWidget`.

That code works, but I run into problems when passing a widget to the GWT Maps API instead of creating it within the API.

Problem appears after clicking a marker, closing the InfoWindow and clicking the marker again.

This is the stacktrace I get:

[code]

We're using the gwt-maps-api-3.10.0-al

[2014-03-07 13:51] flavor8 opened #203 "Exclude gwt-dev from Transitive Dependencies"
Your Maven dependencies include `gwt-dev` vs `gwt-ajax-loader`. Please add an exclusion.

Thanks!

[2014-03-08 15:31] twistedpair commented on #203
See #162 for interim fix

[2014-03-08 15:39] twistedpair commented on #203
@flavor8 Do you have a pull request with the Maven exclusions that work for you?

[2014-03-08 15:47] twistedpair commented on #200
@markusolsson  Can you provide the code of a simple case that reproduces this error? Thanks.

[2014-03-08 16:04] twistedpair commented on #195
@branflake2267 Any updates on getting these tests to pass in CI?

[2014-03-08 16:09] twistedpair commented on #189
@mgmmmm building with `GWT 2.5.1` and `GWT 2.6.0` work correctly for me. Can you please assert whether this remains a problem for you. Otherwise I'll close this issue.

[2014-03-08 17:19] branflake2267 commented on #195
I can look later today. I've turned on my server in the garage, and can use that to help.

[2014-03-18 14:08] markusolsson commented on #200
Hi,
I'm not able to reproduce it anymore so I'll close this ticket

BR Markus

[2014-03-18 14:08] #200 closed, assigned to nobody

[2014-03-26 15:47] superbalou commented on #163
Hello,

I don't manage to handle mouse events on div elements added to my custom overlay.

I added the div elements to the "Overlay Mouse Target" but nothing happens when I click on it, no matter what I use to handle the event (GWT addDomHandler or MapHandlerRegistration)

Do you have an idea ?

[2014-03-26 16:09] superbalou commented on #163
Oops, I got it working using sinkEvents on my div element.

Is it the only way ?

[2014-03-26 20:06] schweighart commented on #163
There is an other crazy solution. Create your divs outside of the map and then add this element to the map.

[2014-03-27 12:42] superbalou commented on #163
I think I'm gonna go for yours because it allows me to dissociate mouse events from the map and those from the overlaying div more easily.

Thanks.

[2014-04-14 16:10] wikiro opened #205 "Custom Map Type and Projection"
How can i create layer with custom projection like this: http://jsfiddle.net/VkGjq/2/
Maybe we shoud add this feature? Thanks.

[2014-05-13 14:27] ghost opened #206 "JAR of latest version"
Any change to get a JAR of the latest version?
I don't use Maven, so a simple jar download would be the most convenient solution.

Thanks

[2014-05-13 15:51] twistedpair commented on #206
I've updated the site with comments on the above.

https://github.com/branflake2267/GWT-Maps-V3-Api/wiki/Direct-API-Jar-Downloads

[2014-05-13 15:51] #206 closed, assigned to nobody

[2014-05-13 15:57] twistedpair commented on #205
Custom map tiles are already available. See the [Showcase](http://gonevertical-apis.appspot.com/).

[2014-05-13 15:59] twistedpair commented on #163
Generally, with GWT, directing calling the sinkEvents methods are the surest bet.

[2014-05-13 15:59] #163 closed, assigned to nobody

[2014-05-13 15:59] twistedpair commented on #200
Thanks for your help @markusolsson.

[2014-05-13 17:04] wikiro commented on #205
I wrote about custom projection, not map tiles. This is different things. Please, look at the jsfiddle.

[2014-05-13 19:36] twistedpair commented on #205
You are correct @evmx, my error.

GMaps added the Projection property to the [ImageMapType](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/maptypes/ImageMapType.java) in the current 3.15 API release. We'll put it on our radar for the next release. Thanks!

[2014-05-13 19:38] twistedpair commented on #198
Are we feature complete yet? v3.16 will release soon and I don't want to slip too far behind the mainline.

[2014-05-13 19:42] branflake2267 commented on #198
I haven't done anything in a while, so I suspect not.

[2014-05-14 08:44] ghost opened #207 "Is it possible to get notified if LoadApi.go failed?"
Is there any way to know if the `LoadApi.go(...)` call failed, i.e. when the Google Maps library wasn't successfully loaded?

[2014-05-14 14:41] twistedpair commented on #207
[LoadApi.java](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/LoadApi.java) is a thin wrapper around the Google [AjaxLoader](http://code.google.com/p/gwt-google-apis/source/browse/trunk/ajaxloader/ajaxloader/src/com/google/gwt/ajaxloader/client/AjaxLoader.java?r=1585) library.

As you can see from that source, there is an on succe

[2014-05-14 14:41] #207 closed, assigned to nobody

[2014-05-27 02:55] jlmalone commented on #198
Would be awesome to add support for permanently_closed

[2014-06-01 06:50] povilasb opened #208 "Fluent interface in MapOptions"
It would be nice if MapOptions implemented the [Fluent Interface](http://en.wikipedia.org/wiki/Fluent_interface) pattern.

e.g.

[code]

[2014-06-01 08:26] povilasb opened #209 "Marker class could implement HasClickHandlers interface"
As the topic mentions [Marker](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-api/src/main/java/com/google/gwt/maps/client/overlays/Marker.java) could implement standard gwt interface [HasClickHandlers](http://www.gwtproject.org/javadoc/latest/com/google/gwt/event/dom/client/HasClickHandlers.html).

[2014-06-03 19:13] twistedpair commented on #208
@povilasb

Good point. This could be done without breaking changes, I believe, since presently the methods are `void`, so no one is doing anything with their return values.

I'm strapped for time at the moment, but if you've got the time to update the class, mostly just updating the method signatures and adding `return this;`, we'd be grateful and happy to merge it.

[2014-06-03 19:22] branflake2267 commented on #208
A Builder (pattern) sub type could be added as a subclass.

[2014-06-03 19:44] twistedpair commented on #208
@branflake2267 good point and perhaps a more self contained solution.

[2014-06-03 22:52] twistedpair commented on #209
Thanks for the suggestion @povilasb .

`Marker` does not use `ClickHandler`, but rather `MapHandler<E> handler`. In order to comply with `HasClickHandlers` we'd need to revamp the underlying click handing, registration and unregistration code.

Since all handlers must be passed to

[code]

There is no certainty that all implementations of `ClickHandler` would be recognized by the GMaps implementat

[2014-06-03 22:59] #209 closed, assigned to nobody

[2014-06-13 00:16] mikegfink opened #212 "FullScreen Map Demo shows blank page"
The FullScreen Map Demo at http://gonevertical-apis.appspot.com/fullpage.html only displays a blank screen in Chrome.

[2014-06-17 19:37] twistedpair commented on #212
@mikegfink  Seems the JS for the full screen demo was not deployed with the last demo release. The [nocache file](http://gonevertical-apis.appspot.com/fullpage/fullpage.nocache.js) is missing.

I think that for the next demo release, we should just place the page on a `github.io` site so that we can deploy without needing to move it to `AppEngine`. This would break a single demo which makes  a rem

[2014-06-17 19:41] branflake2267 commented on #212
Good idea. :)

[2014-07-09 18:44] noahtaylor commented on #13
I ran into the same issue.  I initially tried applying triggerResize() after I created the map but I wasn't having any luck.   The only way I could resolve it was to add an idle listener on the map and then call triggerResize().  Just like this:

[code]

[2014-07-16 21:23] noahtaylor opened #213 "Data api"
Hello, I was just wondering how come none of the data api classes were implemented?
https://developers.google.com/maps/documentation/javascript/reference#Data

[2014-07-17 02:58] twistedpair commented on #213
@noahtaylor Because our current release is `3.10` and the current targeted release is`3.12`. The feature you're looking for was just released in the [3.16](https://developers.google.com/maps/documentation/javascript/3.15/reference) API. We've not gotten to it yet. Feel free to send along a pull request.

[2014-07-19 17:00] ghost91pl opened #214 "autocomplete in DialogBox, PlaceChangeMapEvent didnt occur"
Hi Bran,

At first i would like to say that you made an awesome work!

Ok so i noticed that when i use code from your autocomplete example and put the AutoCompletePlacesMapWidget in rootPanel it works fine but when i put that Widget into DialogBox the suggesting function works but when i click on one of the suggestion nothing happens.

I'm not able to provide any additional info like stacktrace et

[2014-07-22 09:16] paulux84 opened #215 "Custom Marker image flickers at final position before drop animation"
When adding a marker with custom image and drop animation to the map, the marker
- briefly appears at its final location
- disappears
- animates into place

[2014-07-23 18:01] noahtaylor commented on #213
After digging a bit a realized it was probably versioning, i couldn't see anywhere where google keeps a history of what was available in each version of their api.  I will probably send out a pull request in a couple weeks, I'm about 50% complete on the code now, so far working great.  Thanks.

[2014-07-31 17:42] paulux84 opened #216 "MouseOutMapEvent raised on mouse over control"
The MouseOutMapEvent is raised also when i move mouse over map controls

[2014-08-04 21:01] twistedpair commented on #213
@noahtaylor see the [GMaps versioned API references](https://github.com/branflake2267/GWT-Maps-V3-Api/wiki#official-google-maps-api-references). Sadly Google Maps team abandons the links every few releases.

However, their [API change log](https://github.com/branflake2267/GWT-Maps-V3-Api/wiki#official-changelog) is how you can usually figure out what's been added.

I've just finished buying a hous

[2014-08-05 20:19] twistedpair commented on #215
@paulux84 are you able to reproduce this behavior with the raw GMaps JS API? Since this is a GWT wrapper, your description sounds like a possible underlying JS API problem, which would be beyond the purview of this GWT API.

Regardless, please include a functional example if you can so we can investigate. Thanks.

[2014-08-05 20:21] twistedpair commented on #13
@noahtaylor any idea how often this gets called? I'm not familiar with how often the `IdleMapEvent` is fired, but I'd worry that it might cause lots of resizing while the map is not in use. What's your experience been?

[2014-08-06 17:36] twistedpair commented on #214
@ghost91pl thanks for the report.

When you have the unusual behavior, do you see any output in the JS console? Just hit `F12` in `Chrome` and then load the page. If there are any errors, you should get something there. Cheers.

[2014-08-07 13:42] noahtaylor commented on #13
@twistedpair yes that is a good point.  I ended up modifying my code to this:

[code]

so it only gets called once.

[2014-08-07 14:13] valsoray17 opened #217 "Compilation Fails"
I'm trying to compile GWT project (with Maps in the project) in production mode (strict) and it fails due to a

[code]

I'm using `gwt-maps-api 3.9.0-build-17` and `gwt-ajaxloader 1.1.0`. Dependencies are managed by Maven.

Am I doing something wrong?

[2014-08-07 17:32] noahtaylor opened #218 "Custom Control Click Handlers not working after map is hidden."
I followed the examples in the showcase to create ClickHandlers on custom controls as in:
[WeatherLayersWidget.java](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-showcase/src/main/java/com/google/gwt/maps/testing/client/maps/WeatherLayersWidget.java)

The only difference being I show map on a popup which can be opened and closed again.  The first time I show the map, the c

[2014-08-10 22:31] twistedpair commented on #217
@valsoray17 have you tried building with any of the `3.10.0` builds? Building a project of mine with `gwt-maps-api 3.9.0-build-17` works just fine in `String Mode` for me.

Please try one of the `3.10.0` builds or provide a simple configuration we can test that fails so we can investigate further. Thanks.

[2014-08-11 03:32] twistedpair commented on #218
@noahtaylor thanks for the reports. I'm glad you're getting use out of the library.

Generally in GWT, you've got to make sure you register, then unregister events from actual JSO's when you show/hide them, then apply the register/unregister process the next time you show them. This is especially important for external widgets like GMaps where you don't really know when and if they're going to cle

[2014-08-11 14:26] noahtaylor commented on #218
Yes indeed I am getting a massive amount of use from this library, it's great and thanks to everyone for their hard work.

Also thanks for getting back to me on my question.  With respect to event registration, I'm a bit surprised about having to un/register on show/hide.  I have an example here, which i won't leave up for long.  If you click on the Neighbourhoods button a map will pop up, if you

[2014-08-11 20:30] valsoray17 commented on #217
The 3.10.0 builds also fail in GWT STRICT mode.

Yaroslav

[2014-08-11 20:33] valsoray17 commented on #217
Seems like it's the Google's ajax-loader is not maintained anymore.

[2014-08-13 16:10] twistedpair commented on #217
@valsoray17 Still a little puzzled here as my projects that use this lib build just fine with Maven each night. I checked on Maven Central and the [gwt-ajaxloader](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.gwt.google-apis%22%20AND%20a%3A%22gwt-ajaxloader%22) jar is still there, so it should be automatically downloaded and linked to satisfy the dependency problem you're facing.

[2014-08-13 16:18] twistedpair opened #219 "Create Revised Showcase"
Our showcase is really heavy weight. It was originally intended as a PoC of new features, but now it has a _ton_ of maps on it. We need a lighter showcase that is easier to navigate.

Goals
- Use a tabbed presentation that's easier to navigate (i.e. GWTP)
- Make the map resize to window as an example of a commonly asked question
- Make reuse of the same map where possible (also a common question)

[2014-08-13 16:20] twistedpair commented on #13
Thanks @noahtaylor . I'm working on a revised showcase where we'll have resizing enabled as a reference implementation for folks that keep running into this problem. See #219 and add anything you think should be in there.

[2014-08-13 17:12] twistedpair commented on #218
@noahtaylor, you're right. Registering/Unregistering handlers manually is a GWT edge case, not a standard practice.

As you probably know, a major design goal of GWT was to eliminate the possibility of JS memory leaks. The most common cause was element reference cycles in element listeners. As such all event listeners were to be wrapped in the GWT listener methods so that GWT could guarantee they

[2014-08-14 17:28] noahtaylor commented on #218
Thanks again for all your input, very helpful!!

Interesting what you mentioned,  I had no idea you could see the eventhandlers through dev tools, definitely an awesome trick.   As you suggested, I tried tracing this through with chrome dev tool and I can see the clickhandler is still there on the control but as you say it must be pointing to old elements but given the control is there, the handle

[2014-08-14 21:52] valsoray17 commented on #217
Sorry for a late response. I can build the project. The only problems is that if I set compiler mode to `strict` it fails to compile. Here is how to turn this option on in mvn gwt plugin:

[code]

[2014-08-14 21:53] #217 closed, assigned to nobody

[2014-08-15 16:54] skyl commented on #214
I'm experiencing the same thing. The click handler is what does not work. Selection of the autocomplete by keyboard still works in the dialog.

Nothing is in the JS console in chrome. Seems the click event just doesn't fire on the suggestions.

https://gist.github.com/skyl/de647abf051083c3a85c

[2014-08-18 15:55] noahtaylor commented on #218
@twistedpair Ok so I followed your advice and debugged the issue to the root by setting the compiler style to pretty.  It seems the culprit for removing the listeners is actually this bit of code in MapWidget (line 97-100)

[code]

This bit of code removes the references to the controls within the map widget so when a `ClickEvent` is fired on the map it no longer tries to call any of the events on

[2014-08-18 17:23] twistedpair commented on #218
@noahtaylor the odd behavior that stands out is that `onDetach()` is being called, but the elements are not actually being destroyed. For example, if I save a reference to the Transit button to the DOM on the first load, and then close and reopen, it's the same object. So, the map and its elements were not actually destroyed.

The impetus for `onDetach()` is the call to `PopupPanel.hide()`. From t

[2014-08-18 18:21] noahtaylor commented on #218
@twistedpair thanks plenty of leads to go on now.  I need to read up on DOM etc. to get a better understanding...
Very astute observation about the 2 maps.  Yes indeed it is intentional, I have 2 maps, one overlaying the other in order to place the polygons I've drawn below the labels.  The first map has all the background and polygons, the second map is transparent except the labels hence it allo

[2014-08-19 19:23] twistedpair commented on #217
Glad you've managed to build the project. As it stands, we're using `strict mode` when we build the showcase. See its [pom.xml](https://github.com/branflake2267/GWT-Maps-V3-Api/blob/master/gwt-maps-showcase/pom.xml#L66-66). So, it's still not clear why you're experiencing this issue at this point.

If anyone else has the same problem, please amend this issue. Thanks!

[2014-08-19 20:28] twistedpair commented on #214
@skyl Thanks for the details. I'll dig into this soon when I've got a free evening. Since your gist is identical to the Showcase, I'd certainly expect it to work. Let me dig into this.

[2014-08-22 19:37] noahtaylor commented on #218
@twistedpair ok so having delved into the details more regarding DOM detachment and memory leaks etc. I see when the controls are added they are being treating the same as if we were to create the controls by wrapping DOM elements.  I _think_ this is necessary because we are adding the controls directly via JS rather than taking the usual approach of instantiating and element and then calling add